.mfp-animate-zoom-in {
	$duration: 0.2s;
	$duration-bg: 0.3s;

	.mfp-iframe-scaler {
		overflow: initial;
	}

	.mfp-iframe-scaler iframe,
	.mfp-figure,
	.mfp-arrow,
	.mfp-content > * {
		opacity: 0;
		transform: scale(0.8);
		transition: transform $duration ease-in-out, opacity $duration ease-in-out;
	}

	&.mfp-ready {
		.mfp-iframe-scaler iframe,
		.mfp-figure,
		.mfp-arrow,
		.mfp-content > * {
			opacity: 1;
			transform: scale(1);
		}
	}

	&.mfp-removing {
		.mfp-iframe-scaler iframe,
		.mfp-figure,
		.mfp-arrow,
		.mfp-content > * {
			opacity: 0;
			transform: scale(0.8);
		}
	}

	&.mfp-bg {
		background-color: $color-accent;
		opacity: 0;
		transition: opacity $duration-bg ease-in-out;

		&.mfp-ready {
			opacity: 0.25;
		}

		&.mfp-removing {
			opacity: 0;
		}
	}
}
