.mfp-container {
	padding: 0 10px;

	&.mfp-image-holder {
		padding: 0 30px !important;

		@media screen and (min-width: 640px) {
			padding: 0 50px !important;
		}
	}
}

.mfp-arrow {
	fill: $color-white;
	overflow: hidden;
	cursor: pointer;
	width: 30px;
	transform: scale(1) !important;
	z-index: 2000;

    @media screen and (min-width: 640px) {
        width: 50px;
	}

	&::before {
		width: 20px;
		height: 20px;
		border: none;
		opacity: 1;
		transition: border 0.3s;

		@media screen and (min-width: 640px) {
			width: 30px;
			height: 30px;
		}
	}

	&::after {
		display: none;
	}

	&-left {
		left: 0;

		&::before {
			border-top: 2px solid $color-accent;
			border-left: 2px solid $color-accent;
			transform: rotate(-45deg);
			left: auto;
			right: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&-right {
		right: 0;

		&::before {
			border-top: 2px solid $color-accent;
			border-left: 2px solid $color-accent;
			transform: rotate(135deg);
			left: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&:hover {
		&::before {
			border-top-color: blue;
			border-left-color: blue;
		}
	}
}

.mfp-close {
	$color-mfp-close: '223d8a';
	$color-mfp-close-main: '3a9efd';

	display: block;
	top: 0 !important;
	right: 0 !important;
	width: 30px !important;
	height: 30px !important;
	border: none !important;
	color: transparent !important;
	font-size: 0 !important;
	opacity: 1 !important;
	padding: 0 !important;
	outline: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 21.6'%3E%3Cpath fill='%23#{$color-mfp-close}' d='M13.6,10.8L21,3.4c0.8-0.8,0.8-2.1,0-2.8c-0.8-0.8-2.1-0.8-2.8,0l-7.4,7.4L3.4,0.6c-0.8-0.8-2.1-0.8-2.8,0c-0.8,0.8-0.8,2.1,0,2.8l7.4,7.4l-7.4,7.4c-0.8,0.8-0.8,2.1,0,2.8c0.8,0.8,2.1,0.8,2.8,0l7.4-7.4l7.4,7.4c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L13.6,10.8z'/%3E%3C/svg%3E");
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 15px 15px !important;
	transition: 0.3s;
	cursor: pointer !important;
	z-index: 10;

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.6 21.6'%3E%3Cpath fill='%23#{$color-mfp-close-main}' d='M13.6,10.8L21,3.4c0.8-0.8,0.8-2.1,0-2.8c-0.8-0.8-2.1-0.8-2.8,0l-7.4,7.4L3.4,0.6c-0.8-0.8-2.1-0.8-2.8,0c-0.8,0.8-0.8,2.1,0,2.8l7.4,7.4l-7.4,7.4c-0.8,0.8-0.8,2.1,0,2.8c0.8,0.8,2.1,0.8,2.8,0l7.4-7.4l7.4,7.4c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L13.6,10.8z'/%3E%3C/svg%3E");
	}
}

.mfp-title {
	color: $color-white;
}

.mfp-counter {
	color: $color-white;
}

.mfp-preloader {
	font-size: 0;

	&::after,
	&::before {
		content: '';
		box-sizing: inherit;
		position: absolute;
		z-index: 4;
		display: block;
		border: 4px solid $color-accent;
		border-radius: 50%;
	}

	&:before {
		left: calc(50% - 30px);
		top: calc(50% - 30px);
		width: 60px;
		height: 60px;
		border-left-color: rgba(96, 188, 79, 0.001);
		border-bottom-width: 0;
		animation: rotating 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
	}

	&::after {
		left: calc(50% - 20px);
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		border-right-width: 0;
		border-top-color: rgba(96, 188, 79, 0.001);
		animation: rotating 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite reverse;
	}
}


