.popup {
	$this: &;

	position: relative;
	background-color: $color-white;

	&__head {
		padding: 30px;
		border-bottom: 1px solid #e4e4e4;
	}

	&__title {
		font-size: 15px;
		color: $color-accent;

		@media screen and (min-width: 1024px) {
			font-size: 32px;
		}
	}

	&__body {
		padding: 30px;
	}

	&__foot {
		background-color: #e4e4e4;
		padding: 30px;
	}
}

.mfp-arrow-right::before, .mfp-arrow-left::before {
    border-top: 2px solid $color-white;
    border-left: 2px solid $color-white;
}
