.container {
	$this: &;

	padding: microbe-rem(0) microbe-rem(20);
	width: 100%;
	margin: auto;

	@include microbe-media($breakpoint-xl) {
        max-width: calc(var(--container-max-width) + #{vw(20 * 2)});
	}

    .container {
        padding: 0;
    }

	&--overflow {
		overflow: hidden;
	}

	&--full {
		padding: 0;
		max-width: 1920px !important; // sass-lint:disable-line no-important
	}

	&--wide {
		padding: 0 !important; // sass-lint:disable-line no-important
	}

	&--def {
		@include microbe-media($screen-vw) {
			max-width: calc(#{vw(1600)} + #{vw(20 * 2)});
		}
	}

    &--sm {
        @include microbe-media($screen-vw) {
            max-width: calc(#{vw(789)} + #{vw(20 * 2)});
        }
    }

    &--white {
        background: $color-white;
        border: 1px solid #DCDCDC;
        border-radius: 4px;

        @include microbe-media($breakpoint-xxs) {
            padding: microbe-rem(0) microbe-rem(20);
        }

        @include microbe-media($breakpoint-xs) {
            padding: microbe-rem(0) microbe-rem(30);
        }

        @include microbe-media($screen-vw) {
            padding: 0 vw(40);
        }
    }

    &--about {
        background: white;
        margin-top: -40px;
        border: 1px solid #DCDCDC;
        border-top: unset;
        border-radius: 0 0 4px 4px;
        padding: microbe-rem(0) microbe-rem(20);

        .padding {
            @include microbe-media($breakpoint-xxs) {
                padding: microbe-rem(0) microbe-rem(20);
            }

            @include microbe-media($breakpoint-xs) {
                padding: microbe-rem(0) microbe-rem(30);
            }

            @include microbe-media($screen-vw) {
                padding: 0 vw(40);
            }
        }
    }
}
