.footer {
    $this: &;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: microbe-rem(20) 0 microbe-rem(15) 0;
        border-bottom: 1px solid $color-border;

        @include microbe-media($screen-vw) {
            padding: vw(60) 0 vw(27) 0;
        }
    }

    &__bottom {
        padding: microbe-rem(25) 0;

        @include microbe-media($screen-vw) {
            padding: vw(37) 0;
        }
    }

    &__links {
        @include microbe-media($breakpoint-md) {
            display: flex;
            justify-content: center;
        }
    }
}
