.header-mobile {
    $this: &;

    --color: #{$color-accent};

    position: sticky;
    z-index: $zi-header;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: microbe-rem($header-mobile-indent-vertical) microbe-rem($header-mobile-indent-horizontal);
    transition: transform $duration-fast ease, background-color $duration-fast ease, color $duration-fast ease, box-shadow $duration-fast ease;

    &.is-page-scrolled {
        transform: translateY(-100%);
    }

    &.is-header-moved {
        --color: #{$color-accent};

        background-color: $color-white;
        box-shadow: 0 0 microbe-rem(6) 0 rgba($color-black, 0.05);
    }

    &__burger-btn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: microbe-rem(5);
        width: microbe-rem(30);
        height: microbe-rem(30);

        span {
            display: block;
            width: 100%;
            height: microbe-rem(3);
            border-radius: microbe-rem($br-def);
            background-color: var(--color);
            margin-bottom: microbe-rem(5);

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                width: 75%;
            }
        }
    }

    &--fixed {
        position: fixed;
    }

    &--dark {
        --color: #{$color-white};
    }
}
