.header {
    $this: &;
    position: relative;

    .main--page &::before {
        content: "";
        display: block;
        display: none;
        width: 100%;
        min-height: 50vh;
        background: linear-gradient(358.8deg, rgba(255, 255, 255, 0.5) 26.35%, rgba(255, 255, 255, 0) 79.93%);
        mix-blend-mode: normal;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    .container {

    }
}
