.menu {
    $this: &;
    display: none;

    @include microbe-media($breakpoint-lg) {
        display: block;
    }

    &__link {
        font-weight: 400;
        font-size: microbe-rem(16);
        color: $color-dark;
        cursor: default;
        white-space: nowrap;
        position: relative;

        .main--page &,
        .page__marketplace & {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            color: $color-white;
        }

        .footer & {
            text-shadow: unset;
        }

        &.is-active {
            color: #F8D748;
        }

        &::after {
            position: absolute;
            content: "";
            top: 100%;
            margin-top: 3px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #F8D748;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }

        &[href]:hover {
            color: #F8D748;
            cursor: pointer;

            &::after {
                transform: scaleX(1);
                transform-origin: left;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            }
        }

        svg {
            fill: currentColor;
        }
    }

    &--mobile {
        position: fixed;
        background: $color-accent-half;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        z-index: -1;
        transition: all .3s linear;

        &.is-active {
            opacity: 1;
            z-index: 1000;

            #{$this}__wrapper {
                left: 0;
            }
        }

        #{$this}__wrapper {
            position: absolute;
            height: 100%;
            width: calc(100% - 50px);
            left: -100%;
            top: 0;
            background: $color-white;
            padding-left: 40px;
            transition: left .3s linear;

        }

        #{$this}__item {
            position: relative;
            border-bottom: 1px solid #F2F4F8;
            transition: padding .3s linear;

            &:hover {
                font-weight: $font-weight-bold;
                padding-left: 20px;

                &::before {
                    content: '';
                    height: 100%;
                    width: 3px;
                    display: inline-block;
                    position: absolute;
                    left: -40px;
                    top: 0;
                    background: #F8D748;
                }
            }

            &--fixed {
                &:hover {
                    font-weight: $font-weight-bold;
                    padding-left: 0;

                    &::before {
                        content: '';
                        display: none;
                    }
                }
            }
        }

        #{$this}__link {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #1E2022;
            padding: 20px 0;

            &.is-active {
                font-weight: $font-weight-bold;
                padding-left: 20px;
                color: #4070B5;

                @include microbe-media($breakpoint-df) {
                    &::before {
                        content: '';
                        height: 100%;
                        width: 3px;
                        display: inline-block;
                        position: absolute;
                        left: -40px;
                        top: 0;
                        background: #F8D748;
                    }
                }
            }

            &:hover {
                font-weight: $font-weight-bold;
                color: #4070B5;

                &::after {
                    display: none;
                }
            }
        }

        .language-switcher {
            flex-direction: row;
            padding-right: 40px;
            text-align: center;
            height: unset;
            top: unset;

            span {
                font-weight: $font-weight-bold;
                color: $color-black;
            }

            &::after {
                display: none;
            }

            &__item {
                opacity: 1 !important;
                display: block !important;
                padding: 0!important;
                margin: 0!important;
            }
        }
    }

    &__hamburger {
        cursor: pointer;
        position: relative;
        z-index: 1001;

        .open {
            display: none;
        }

        svg {
            fill: $color-dark;

            .main--page &,
            .page__marketplace & {
                fill: $color-white;
            }
        }

        &.is-active {
            .close {
                display: none;
            }

            .open {
                display: block;

                svg {
                    fill: $color-white;
                }
            }
        }
    }
}
