@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline'), local('Lato-Hairline'), url($STATIC_PATH + 'fonts/Lato/latohairline.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latohairline.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latohairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url($STATIC_PATH + 'fonts/Lato/latohairlineitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latohairlineitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latohairlineitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Thin'), local('Lato-Thin'), url($STATIC_PATH + 'fonts/Lato/latothin.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latothin.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latothin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url($STATIC_PATH + 'fonts/Lato/latothinitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latothinitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latothinitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url($STATIC_PATH + 'fonts/Lato/latolight.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latolight.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url($STATIC_PATH + 'fonts/Lato/latolightitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latolightitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url($STATIC_PATH + 'fonts/Lato/latoregular.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoregular.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'), url($STATIC_PATH + 'fonts/Lato/latoitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url($STATIC_PATH + 'fonts/Lato/latomedium.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latomedium.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url($STATIC_PATH + 'fonts/Lato/latomediumitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latomediumitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'), url($STATIC_PATH + 'fonts/Lato/latosemibold.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latosemibold.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url($STATIC_PATH + 'fonts/Lato/latosemibolditalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latosemibolditalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latosemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url($STATIC_PATH + 'fonts/Lato/latobold.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latobold.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url($STATIC_PATH + 'fonts/Lato/latobolditalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latobolditalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy'), local('Lato-Heavy'), url($STATIC_PATH + 'fonts/Lato/latoheavy.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoheavy.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url($STATIC_PATH + 'fonts/Lato/latoheavyitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoheavyitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoheavyitalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url($STATIC_PATH + 'fonts/Lato/latoblack.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoblack.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url($STATIC_PATH + 'fonts/Lato/latoblackitalic.woff2') format('woff2'), url($STATIC_PATH + 'fonts/Lato/latoblackitalic.woff') format('woff'), url($STATIC_PATH + 'fonts/Lato/latoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
