.authorization {
    $this: &;

    &__icon {
        fill: $color-dark;

        .main--page &,
        .page__marketplace & {
            fill: $color-white;
        }
    }

    &__link {
        color: $color-dark;
        font-size: microbe-rem(16);
        transition: color .3s linear;

        .main--page &,
        .page__marketplace & {
            color: $color-white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }

        @include microbe-media($breakpoint-df) {
            font-size: microbe-rem(16);
        }

        &:hover {
            color: #F8D748;
            cursor: pointer;
        }
    }

    &__slash {
        color: $color-dark;
        margin: 0;

        .main--page &,
        .page__marketplace & {
            color: $color-white;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }

        @include microbe-media($breakpoint-sm) {
            margin: 0 5px;
        }
    }
}
