.breadcrumbs {
    $this: &;

    padding: microbe-rem(15) 0;

    @include microbe-media($screen-vw) {
        padding: vw(33) 0;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        font-size: microbe-rem(11);
        font-weight: $font-weight-regular;
        transition: color $duration-fast ease;
        font-style: italic;
        margin: 0;

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(14);
        }

        & ~ span {
            margin: 0 microbe-rem(4);
        }

        &[href] {
            &:hover {
                color: $color-main;
            }
        }

        &--main {
            &:hover {
                svg {
                    fill: $color-main;
                }
            }

            svg {
                display: block;
                width: microbe-rem(14);
                height: microbe-rem(13);
                fill: currentColor;

                @include microbe-media($screen-vw) {
                    width: vw(14);
                    height: vw(13);
                }
            }
        }
    }

    &--white {
        color: rgba($color-white, 0.6);
    }

    &--main {
        background-color: $color-grey;
        color: #55585D;
    }
}
