.button {
    $this: &;

    cursor: pointer;
    display: inline-flex;
    align-items: center;
    pointer-events: all;
    justify-content: center;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 4px;
    transition: color .3s linear,
                background .3s linear,
                box-shadow .3s linear;
    line-height: 1;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    &:disabled,
    &[disabled] {
        pointer-events: none;
        cursor: default;
    }

    .firefox & {
        line-height: 1;
    }

    &--normal {
        padding: microbe-rem(7) microbe-rem(10) microbe-rem(10) microbe-rem(10);
        font-size: microbe-rem(15);
        height: microbe-rem(30);
        font-weight: $font-weight-medium;

        &#{$this}--uppercase {
            padding: microbe-rem(10) ;
        }

        @include microbe-media($breakpoint-sm) {
            padding: microbe-rem(7) microbe-rem(10) microbe-rem(10) microbe-rem(10);
            font-size: microbe-rem(18);
            height: microbe-rem(35);

            &#{$this}--uppercase {
                padding: microbe-rem(10) ;
            }
        }

        @include microbe-media($breakpoint-lg) {
            padding: microbe-rem(12) microbe-rem(15) microbe-rem(15) microbe-rem(13);
            font-size: microbe-rem(20);
            height: microbe-rem(45);

            &#{$this}--uppercase {
                padding: microbe-rem(15);
            }
        }
    }

    &--small {
        padding: microbe-rem(3) microbe-rem(10) microbe-rem(5) microbe-rem(10);
        font-size: microbe-rem(12);
        height: microbe-rem(30);

        &--xs {
            padding: 7px;
            height: auto;
        }

        &#{$this}--uppercase {
            padding: microbe-rem(5) microbe-rem(10) ;
        }

        @include microbe-media($breakpoint-lg) {
            padding: microbe-rem(13) microbe-rem(15) microbe-rem(15) microbe-rem(13);
            font-size: microbe-rem(14);
            height: microbe-rem(40);

            &--xs {
                padding: 7px;
                height: auto;
            }

            &#{$this}--uppercase {
                padding: microbe-rem(15) microbe-rem(15) ;
            }
        }

    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--main {
        background: linear-gradient(180deg, #0B3352 0%, #07273F 100%);
        border: 1px solid #082840;
        color: $color-white;

        svg {
            fill: $color-white;
        }

        &:hover {
            background: linear-gradient(0deg, #0B3352 0%, #07273F 100%);
        }
    }

    &--restore {
        font-size: 14px;
        cursor: pointer;
    }

    &--grey {
        background: linear-gradient(180deg, #5C5C5C 0%, #4A4A4A 100%);
        border: 1px solid #474747;
        color: #F8D748;

        &:hover {
            background: linear-gradient(0deg, #5C5C5C 0%, #4A4A4A 100%);
        }
    }

    &--transparent {
        border: 1.5px solid #ECECEC;
        color: $color-accent;
        transition: all .3s linear;

        &:hover {
            background: linear-gradient(0deg, #ffe56e 0%, #F8D748 100%);
        }
    }

    &--white-text {
        color: white;
    }

    &__icon {
        display: block;
        flex-shrink: 0;
        line-height: 0;
        fill: currentColor;

        svg {
            width: 100%;
            height: 100%;
        }

        &--left {
            margin-right: microbe-rem(11);

            @include microbe-media($screen-vw) {
                margin-right: vw(11);
            }
        }

        &--right {
            margin-left: microbe-rem(11);

            @include microbe-media($screen-vw) {
                margin-left: vw(11);
            }
        }
    }
}
