.color-info {
    $this: &;
    display: flex;

    &__icon {
        display: flex;
        align-items: baseline;
        font-weight: 400;
        font-size: microbe-rem(14);
        color: #7C7A7A;

        svg {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
}
