.delivery-map {
    $this: &;

    height: 600px;
    width: 100%;
    border-radius: 4px;

    .marker {
        &__label {
            position: relative;
            top: -8px;
            left: 0;
            font-size: 13px!important;
            background: white;
            border-radius: 4px;
        }

        &__popup {
            max-width: 250px;
            letter-spacing: 0.02em;
            color: #07273F;
        }

        &__title {
            font-weight: $font-weight-bold;
            font-size: microbe-rem(16);
        }

        &__sub-title {
            font-style: italic;
            font-size: microbe-rem(14);
        }

        &__comment {
            font-size: microbe-rem(14);
        }

        &__photo {
            cursor: pointer;
            pointer-events: auto;
        }
    }
}
