.delivery {
    $this: &;

    &__wrapper {
        &--grid {
            display: flex;
            flex-wrap: wrap;

            #{$this}__item {
                margin: 0 0 20px 0;
                border-bottom: unset;
                padding: 0;
                display: flex;
                flex-direction: column;
                position: relative;
                width: calc(99% / 2);

                @include microbe-media($breakpoint-df) {
                    width: calc(99% / 3);
                }
            }

            #{$this}__image {
                padding: 100% 0 0 0;
                background-position: center;
                background-size: cover;
                position: relative;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            #{$this}__time {
                position: absolute;
                left: 10px;
                top: 10px;
                font-size: microbe-rem(12);
                letter-spacing: 0.02em;
                color: #FFFFFF;
                background: #353535;
                opacity: 0.9;
                padding: 4px 8px;

                @include microbe-media($breakpoint-df) {
                    font-size: microbe-rem(14);
                    padding: 8px 13px;
                }
            }

            #{$this}__way {
                font-size: microbe-rem(14);
                letter-spacing: 0.02em;
                color: #353535;
            }

            #{$this}__rating {
                display: flex;
                align-content: center;
                letter-spacing: 0.02em;
                position: absolute;
                margin-top: 70%;
                left: 30px;
                background: #353535;
                background: rgba(53, 53, 53);
                opacity: .9;
                border-radius: 4px;
                padding: microbe-rem(5) microbe-rem(10) microbe-rem(5) microbe-rem(5);
                font-size: microbe-rem(16);
                line-height: .9;
                color: white;

                svg {
                    margin-right: 5px;

                    .cl1 {
                        fill: #F8D748;
                        stroke: #F0CF3E;
                    }
                }
            }

            #{$this}__number {
                display: none;
            }
        }

        &--table {
            #{$this}__item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #F2F4F8;
                position: relative;
                font-size: microbe-rem(14);
                letter-spacing: 0.02em;

                &:hover {
                    &::before {
                        content: '';
                        height: 100%;
                        width: 3px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: -10px;
                        background: #F8D748;
                    }

                    .delivery__way {
                        font-weight: bold;
                        padding-left: 20px;
                    }

                    .delivery__rating {
                        svg {
                            .cl1 {
                                fill: #F8D748;
                                stroke: #F0CF3E;
                            }
                        }
                    }
                }
            }

            #{$this}__image {
                background: unset!important;
                order: 3;
            }

            #{$this}__time {
                color: #A5A5A5;
                font-size: microbe-rem(14);
            }

            #{$this}__way {
                order: 1;
                color: #353535;
                transition: padding-left .3s linear;

                span {
                    display: none;
                }
            }

            #{$this}__rating {
                display: flex;
                align-items: center;
                order: 2;
                letter-spacing: 0.02em;
                color: #A5A5A5;

                svg {
                    margin-right: 10px;

                    .cl1 {
                        fill: #C4C4C4;
                        stroke: #A5A5A5;
                    }
                }
            }

            #{$this}__number {
                order: 1;
                color: #A5A5A5;
            }

            #{$this}__text {
                transition: text-decoration 0.3s linear;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__name {
        font-weight: bold;
    }

    &__item {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid grey;
    }

    &__step {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #07273F;
        color: $color-white;
        font-size: 14px;
        margin-right: 10px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    &__info {
        padding-bottom: microbe-rem(10);
        margin-bottom: microbe-rem(10);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #F2F4F8;
        position: relative;

        &--title {
            font-weight: bold;
            font-size: microbe-rem(24);
        }
    }

    &__text {
        font-size: microbe-rem(14);
        letter-spacing: 0.02em;
        color: #07273F;

        @include microbe-media($breakpoint-df) {
            font-size: microbe-rem(16);

        }

        &--underline {
            text-decoration: underline;
            cursor: pointer;
        }

        a {
            margin-bottom: 10px;
        }

        p, span, pre {
            font-family: inherit!important;
            font-size: microbe-rem(14)!important;
            line-height: 1.5!important;
            text-indent: 15px!important;
            white-space: inherit;

            @include microbe-media($breakpoint-df) {
                font-size: microbe-rem(16)!important;
                text-indent: 30px!important;
            }
        }
    }

    &__photo, &__video {
        cursor: pointer;

        svg {
            .cl1 {
                fill: #07273F;
                transition: fill .3s linear;
            }
        }

        &:hover {
            .cl1 {
                fill: #232323;
            }
        }
    }

    &__toggle {
        display: none;
        width: 100%;
    }

    &__total-rating {
        font-weight: $font-weight-bold;
        font-size: microbe-rem(18);
        letter-spacing: 0.08em;
        color: $color-accent;
        display: flex;

        svg {
            margin-right: 3px;

            &:first-child {
                margin-left: 10px;
            }
        }
    }
}
