.faq {
    $this: &;
    font-size: microbe-rem(18);

    @include microbe-media($breakpoint-lg) {
        font-size: microbe-rem(20);
    }

    &__question {
        border-radius: 4px;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        padding: microbe-rem(7) microbe-rem(10) microbe-rem(10) microbe-rem(10);
        font-size: microbe-rem(18);

        @include microbe-media($breakpoint-lg) {
            padding: microbe-rem(12) microbe-rem(15) microbe-rem(14) microbe-rem(13);
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: opacity .3s linear;
        }

        &::before {
            background: linear-gradient(180deg, #0B3352 0%, #06263D 100%);
            opacity: 1;
        }

        &::after {
            background: linear-gradient(180deg, #042945 0%, #092539 100%);
            opacity: 0;
        }


        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &.is-active {
            &::after {
                opacity: 1;
            }

            svg {
                transform: rotateX(180deg);
            }
        }

        svg {
            width: 100%;
            max-width: 13px;
            margin-left: 10px;
            margin-top: 7px;
            transition: transform .3s linear;

            @include microbe-media($breakpoint-md) {
                margin-top: 4px;
                max-width: 23px;
            }
        }
    }

    &__answer {
        display: none;
        color: #273C49;
        padding: microbe-rem(20) microbe-rem(30);
        font-size: microbe-rem(12);
        line-height: microbe-rem(22);

        b, strong {
            font-weight: 700;
        }

        @include microbe-media($breakpoint-sm) {
            font-size: microbe-rem(20);
            line-height: microbe-rem(45);
        }
    }

    p {
        font-size: microbe-rem(14);
        padding: 0 0 10px 0;
        margin: unset;
        line-height: 1.5;

        @include microbe-media($breakpoint-df) {
            font-size: microbe-rem(20);
            padding: 0 5% 20px
        }
    }
}
