.filter {
    $this: &;

    &__title {

    }

    &__icon {
        border: 1px solid white;
        padding: 3px;
        cursor: pointer;

        &.is-active, &:hover {
            background: #07273F;
            border: 1px solid #404040;
            box-sizing: border-box;
            border-radius: 4px;

            svg {
                fill: white;
            }
        }
    }
}
