.footer {
	$this: &;
    color: #273C49;
    font-size: microbe-rem(14);
    position: relative;

    @include microbe-media($breakpoint-sm) {
        font-size: microbe-rem(16);
    }

    .menu {
        &__link{
            color: #273C49;
            font-size: microbe-rem(14);
            padding: 3px 6px;
            position: relative;

            &:hover, &.is-active {
                &::after {
                    box-shadow: unset;
                }
            }
        }

        &__item {
            &:last-child {
                .menu__link{
                    &::after {
                        content: '';
                    }
                }
            }
        }
    }

    .waves {
        width: 100%;
        height: auto;
        bottom: 0;
        z-index: -1;
    }
}
