.form {
    $this: &;

    &__title {
        font-weight: $font-weight-bold;
        font-size: microbe-rem(18);
        color: $color-accent;
        margin-bottom: microbe-rem(32);
        text-align: left;

        @include microbe-media($breakpoint-md) {
            text-align: center;
            font-size: microbe-rem(24);
        }

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(34);
        }
    }

    .input-indicator:focus-within .form__sub-title {
        &:after {
            width: 100%;
        }
    }

    &__sub-title {
        font-size: microbe-rem(14);
        color: $color-accent;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.12em;
        display: inline-flex;
        flex-direction: column;

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #4070B5;
            transition: width .3s linear;
        }
    }

    &--size-lg {
        width: 100%;
        max-width: 90%;

        @include microbe-media($breakpoint-sm) {
            max-width: 70%;
        }

        @include microbe-media($screen-vw) {
            max-width: vw(848);
        }
    }

    &--read {
        .disabled,
        [disabled] {
            opacity: 1;
        }
    }

    label, span.fix {
        position: relative;
        font-family: inherit;
        display: flex;
        flex-direction: column;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 1px;
            width: 100%;
            background: linear-gradient(to right, #8D8D8D, #8D8D8D 4px, transparent 4px, transparent);
            background-size: 8px 100%;
            transition: background .3s linear;
        }

        &.with-value::after {
            background: linear-gradient(to right, #353535, #353535 4px, transparent 4px, transparent);
            background-size: 8px 100%;
        }

        &.with-anim-underline:focus-within {
            &::after {
                background: linear-gradient(to right, #353535, #353535 4px, transparent 4px, transparent);
                background-size: 4px 100%;
            }
        }

        &.with-value.with-solid-underline::after,
        &.with-solid-underline::after {
            background: linear-gradient(to right, #8D8D8D, #8D8D8D 8px, transparent 4px, transparent);
            background-size: 8px 100%;
        }

        &.without-underline {
            cursor: pointer;
            font-size: microbe-rem(16);
            line-height: 19px;
            letter-spacing: 0.04em;
            color: $color-accent;
            transition: text-shadow .3s linear;
            font-style: italic;

            &:hover {
                text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            }

            input {
                width: auto;
                accent-color: $color-accent;
            }

            &::after {
                display: none;
            }
        }

        .firefox  &[data-text] {
            display: block;
            padding: 0 microbe-rem(5);

            &::before {
                content: attr(data-text);
                display: inline-block;
                padding: 0 16px 0 0;
                outline: none;
                color: $color-accent;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                font-size: microbe-rem(14);
                transition: text-shadow .3s linear;
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 15.3536C3.84171 15.5488 4.15829 15.5488 4.35355 15.3536L7.53553 12.1716C7.7308 11.9763 7.7308 11.6597 7.53553 11.4645C7.34027 11.2692 7.02369 11.2692 6.82843 11.4645L4 14.2929L1.17157 11.4645C0.976311 11.2692 0.659728 11.2692 0.464466 11.4645C0.269204 11.6597 0.269204 11.9763 0.464466 12.1716L3.64645 15.3536ZM3.5 0L3.5 15H4.5L4.5 0L3.5 0Z' fill='%23353535'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 100% 2px;
            }

            &:hover::before {
                text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            }
        }
    }

    input, select, .add-btn {
        font-size: microbe-rem(14);
        font-family: inherit;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: $color-accent;
        outline: none;
        width: 100%;
        background-color: white;
        transition: text-shadow .3s linear;
        padding: 0 microbe-rem(5);
    }

    .add-btn {
        cursor: pointer;
        position: relative;
        padding: 0 10px;

        &:hover, &:active {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }
    }

    input[type="text"] {
        border: unset;
    }

    input[type="checkbox"] {
        border: unset;
        accent-color: $color-accent;
        transition: box-shadow .3s linear;

        &.width-a {
            width: auto;
            align-self: end;
        }

        &.has-error {
            box-shadow: 0 0 5px 1px red;
        }
    }

    input[type="file"] {
        position: relative;
        color: $color-white;

        .firefox & {
            display: none;
        }

        &::before {
            content: attr(data-text);
            display: inline-block;
            padding: 0 16px 0 0;
            outline: none;
            color: $color-accent;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            font-size: microbe-rem(14);
            transition: text-shadow .3s linear;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 15.3536C3.84171 15.5488 4.15829 15.5488 4.35355 15.3536L7.53553 12.1716C7.7308 11.9763 7.7308 11.6597 7.53553 11.4645C7.34027 11.2692 7.02369 11.2692 6.82843 11.4645L4 14.2929L1.17157 11.4645C0.976311 11.2692 0.659728 11.2692 0.464466 11.4645C0.269204 11.6597 0.269204 11.9763 0.464466 12.1716L3.64645 15.3536ZM3.5 0L3.5 15H4.5L4.5 0L3.5 0Z' fill='%23353535'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 100% 2px;
        }

        &:hover::before {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }

        &::-webkit-file-upload-button {
            visibility: hidden !important;
        }
    }

    input[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0;
        background-size: contain;

        option {
            padding: 2px 5px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    textarea {
        outline: none;
        background: #F7F7F7;
        border: 1px solid #ECECEC;
        border-radius: 3px;
        padding: microbe-rem(10);
    }

    &__delete {
        cursor: pointer;
        position: relative;
        z-index: 100;
        height: 15px;

        svg {
            margin: auto;
            position: absolute;
            right: 12px;

            .cl1 {
                fill: #4D4C4D;
                transition: fill .3s linear;
            }
        }

        &:hover {
            .cl1 {
                fill: #051c2c;
            }
        }
    }

    &__table {
        overflow-x: auto;

        & > div {
            min-width: 800px;

            @include microbe-media($breakpoint-ms) {
                min-width: auto;
            }
        }

        ._cell {
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                max-width: 70px;
            }
        }
    }

    &__table-title {
        font-size: microbe-rem(14);
        color: $color-accent;

        &--big {
            font-size: microbe-rem(16);
            font-weight: 500;
            letter-spacing: 0.04em;
        }
    }

    &__table-amount {

        svg {
            width: 5px;
            height: 5px;
            margin-left: 5px;

            &.up {
                transform: rotate(180deg);
            }
        }


        &:hover {
            cursor: pointer;
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }
    }

    &__table-wrapper {
        background: #F9F9F9;
        border: 1px solid #ECECEC;
        border-radius: 4px;
        font-size: microbe-rem(14);
        color: #787272;
        height: 250px;
        overflow: auto;

        &:first-child {
            color: $color-accent;
        }

        ._cell {
            padding-top: microbe-rem(8) !important;
            padding-bottom: microbe-rem(8) !important;
            border-bottom: 1px solid #EDEDED;
        }

        input[disabled="disabled"] {
            background: unset;
        }
    }

    &__checkbox-text {
        font-size: microbe-rem(14);
        font-family: inherit;
        line-height: 19px;
        letter-spacing: 0.04em;
        color: #8D8D8D;
        outline: none;
        width: 100%;
        background-color: white;
        transition: text-shadow .3s linear;
        padding: 0 microbe-rem(5);
    }

    &__item {
        position: relative;

        &:focus-within .with-anim-underline {
            &::after {
                background: linear-gradient(to right, #353535, #353535 4px, transparent 4px, transparent);
                background-size: 4px 100%;
            }
        }

        label {
            font-weight: 400;
            font-size: microbe-rem(14);
            letter-spacing: 0.04em;
            color: #8D8D8D;
            position: absolute;
            padding: 0 microbe-rem(5);
            pointer-events: none;
            z-index: 1;

            &::after {
                z-index: 10;
            }
        }
    }
}
