.language-switcher {
    $this: &;

    position: relative;
    display: flex;
    flex-direction: column;
    color: $color-dark;
    top: -5px;
    height: 20px;
    margin-left: auto;
    z-index: 1;
    font-size: microbe-rem(14);

    .main--page &,
    .page__marketplace & {
        color: $color-white;
    }

    @include microbe-media($breakpoint-df) {
        margin-left: unset;
    }

    @include microbe-media($breakpoint-xs) {
        font-size: microbe-rem(16);
    }

    &::after {
        content: '▼';
        color: $color-dark;
        position: absolute;
        right: 2px;
        top: 5px;
        font-size: microbe-rem(9);
        transition: transform .3s linear;

        .main--page &,
        .page__marketplace & {
            color: $color-white;
        }
    }

    &:hover {
        #{$this}__item {
            transition: opacity .3s linear, background-color .3s linear;

            &:not(:first-child) {
                opacity: 1;
                display: block;
                color: #F8D748;
            }

            &:first-child {
                border-radius: 4px 4px 0 0;
            }

            &:last-child {
                font-weight: bold;
                border-radius: 0 0 4px 4px;
            }
        }

        &::after {
            color: $color-accent;
            transform: rotateX(180deg);

            .main--page &,
            .page__marketplace & {
                color: $color-white;
            }
        }
    }

    &__item {
        font-size: microbe-rem(14);
        cursor: default;
        padding: 5px 13px 5px 10px;

        .main--page &,
        .page__marketplace & {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
        }

        .menu--mobile & {
            color: $color-accent;
        }

        &:not(:first-child) {
            opacity: 0;
            display: none;
        }

        &[href] {
            padding-top: 10px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        @include microbe-media($breakpoint-df) {
            font-size: microbe-rem(16);
        }
    }
}
