.link {
    $this: &;

    display: inline-flex;
    color: $color-accent;
    font-size: microbe-rem(20);
    font-family: $font-family-default;
    line-height: microbe-em(19, 16);
    cursor: pointer;
    transition: color $duration-fast ease, border-color $duration-fast ease, background-color $duration-fast;

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform $duration-fast ease;

        svg {
            fill: currentColor;
            width: microbe-rem(20);
            height: microbe-rem(20);

            @include microbe-media($screen-vw) {
                width: vw(20);
                height: vw(20);
            }
        }
    }

    &--color-accent-half {
        color: $color-accent-half;
    }

    &--theme-gray {
        @media (hover: hover) {
            &:hover {
                color: $color-accent;
            }

            &:active {
                color: $color-main;
            }
        }
    }

    &--dotted {
        color: #373737;
        padding-bottom: microbe-rem(5);
        border-bottom: 1px dashed #101010;

        @include microbe-media($screen-vw) {
            padding-bottom: vw(5);
        }

        @media (hover: hover) {
            &:hover {
                color: $color-main;
                border-color: $color-main;
            }

            &:active {
                color: $color-main-active;
                border-color: $color-main-active;
            }
        }
    }

    &--external {
        font-size: microbe-rem(20);
        line-height: microbe-em(33, 20);
        color: $color-main;
        border-bottom: microbe-rem(2) solid transparent;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        text-overflow: ellipsis;
        display: inline-block;

        @include microbe-media($screen-vw) {
            font-size: vw(28);
            border-bottom: vw(2) solid transparent;
        }

        @media (hover: hover) {
            &:hover {
                border-color: $color-main;
            }

            &:active {
                color: $color-accent;
                border-color: $color-accent;
            }
        }

        #{$this}__icon {
            margin-right: microbe-rem(12);

            @include microbe-media($screen-vw) {
                margin-right: vw(12);
            }
        }
    }

    &--phone {
        align-items: center;
        font-weight: $font-weight-medium;
        font-size: microbe-rem(24);
        line-height: microbe-em(38, 32);
        color: $color-white;
        border-bottom: microbe-rem(2) solid transparent;

        @include microbe-media($screen-vw) {
            font-size: vw(32);
            border-bottom: vw(2) solid transparent;
        }

        @media (hover: hover) {
            &:hover {
                color: $color-main;
                border-color: $color-main;
            }

            &:active {
                color: $color-accent;
                border-color: $color-accent;
            }
        }

        #{$this}__icon {
            margin-right: microbe-rem(8);
            width: microbe-rem(21);
            height: microbe-rem(22);

            @include microbe-media($screen-vw) {
                margin-right: vw(8);
                width: vw(21);
                height: vw(22);
            }
        }
    }

    &--social {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: microbe-rem(50);
        height: microbe-rem(50);
        color: $color-white;
        border-radius: 50%;
        border: 1px solid currentColor;

        @include microbe-media($screen-vw) {
            width: vw(50);
            height: vw(50);
        }

        @media (hover: hover) {
            &:hover {
                background-color: $color-main;
                border-color: $color-main;
                color: $color-white;
            }

            &:active {
                background-color: $color-accent;
                border-color: $color-accent;
                color: $color-white;

                #{$this}__icon {
                    transform: translateY(#{microbe-rem(2)});

                    @include microbe-media($screen-vw) {
                        transform: translateY(#{vw(2)});
                    }
                }
            }
        }
    }

    &--email {
        color: $color-white;
        font-weight: $font-weight-semibold;
        font-size: microbe-rem(16);
        line-height: microbe-em(21, 18);

        @include microbe-media($screen-vw) {
            font-size: vw(18);
        }

        @media (hover: hover) {
            &:hover {
                color: $color-main;
            }

            &:active {
                color: $color-accent;
            }
        }

        #{$this}__text {
            border-bottom: 1px solid currentColor;
        }

        #{$this}__icon {
            margin-right: microbe-rem(10);

            @include microbe-media($screen-vw) {
                margin-right: vw(10);
            }

            svg {
                width: microbe-rem(24);
                height: microbe-rem(24);

                @include microbe-media($screen-vw) {
                    width: vw(24);
                    height: vw(24);
                }
            }
        }
    }

    &--read-more {
        cursor: pointer;
        align-items: center;
        font-weight: $font-weight-medium;
        font-size: microbe-rem(16);
        line-height: microbe-em(25, 18);
        color: $color-main;

        @include microbe-media($screen-vw) {
            font-size: vw(18);
        }

        #{$this}__icon {
            &--right {
                margin-left: microbe-rem(10);

                @include microbe-media($screen-vw) {
                    margin-left: vw(10);
                }

                svg {
                    width: microbe-rem(10);
                    height: microbe-rem(10);

                    @include microbe-media($screen-vw) {
                        width: vw(10);
                        height: vw(10);
                    }
                }
            }

            &--left {
                margin-right: microbe-rem(15);

                @include microbe-media($screen-vw) {
                    margin-right: vw(15);
                }

                svg {
                    width: microbe-rem(18);
                    height: microbe-rem(18);

                    @include microbe-media($screen-vw) {
                        width: vw(18);
                        height: vw(18);
                    }
                }
            }
        }
    }

    &--cube {
        display: flex;
        justify-content: center;
        align-items: center;
        width: microbe-rem(42) !important;
        height: microbe-rem(42) !important;
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: microbe-rem($br-def);
        color: $color-black;

        &:not(.is-active) {
            @media (hover: hover) {
                &:hover {
                    background-color: $color-main;
                    color: $color-white;
                }

                &:active {
                    background-color: rgba($color-accent-half, 0.1);
                }
            }
        }

        @include microbe-media($screen-vw) {
            width: vw(66) !important;
            height: vw(66) !important;
            border-radius: vw($br-def);
        }

        &.is-active {
            background-color: $color-main;
            color: $color-white;
        }

        svg {
            fill: currentColor;
            width: microbe-rem(16);
            height: microbe-rem(16);

            @include microbe-media($screen-vw) {
                width: vw(16);
                height: vw(16);
            }
        }
    }
}
