.logo {
    $this: &;

    svg {
        pointer-events: auto;

        .cl1 {
            fill: #4070B5;
            transition: fill .3s linear;
        }
        .cl2 {
            fill: #fff;
            transition: fill .3s linear;
        }

    }

    &:hover {
        svg {
            .cl1 {
                fill: #26446e;
            }
            .cl2 {
                fill: #fff;
            }
        }
    }
}
