.marketplace {
    $this: &;

    &__line {
        padding: microbe-rem(7.5) 0;
        border-bottom: 0.7px solid #E1E1E1;

        &:first-child {
            span {
                color: #4BF90D;
            }
        }

        &:nth-child(2) {
            span {
                color: #FF006B;
            }
        }

        @include microbe-media($breakpoint-df) {
            padding: microbe-rem(15) 0;
        }

        #{$this}__title {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            font-weight: $font-weight-bold;
            font-size: microbe-rem(12);
            letter-spacing: 0.04em;
            color: $color-accent;
            white-space: nowrap;

            @include microbe-media($breakpoint-sm) {
                font-size: microbe-rem(14);
            }

            @include microbe-media($breakpoint-df) {
                font-size: microbe-rem(20);
            }

            svg {
                margin-right: 5px;
            }

            &::after {
                content: '|';
                display: inline-flex;
                margin: 0 15px;
            }
        }

        #{$this}__run-line {
            overflow: hidden;
            display: none;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                width: 50px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.97) 50%, rgba(255,255,255,0.9738270308123249) 100%);
            }

            span {
                font-size: microbe-rem(14);
                letter-spacing: 0.01em;

                &::after {
                    content: '|';
                    display: inline-flex;
                    margin: 0 15px;
                }

                @include microbe-media($breakpoint-df) {
                    font-size: microbe-rem(18);
                }
            }
        }
    }

    .card {
        animation: .8s linear show;

        @include microbe-media($breakpoint-md) {
            &:nth-child(even) {
                margin-top: 40px;
            }
        }

        @include microbe-media($breakpoint-df) {
            margin-bottom: microbe-rem(40);
        }

        &--dark {
            .card__body {
                background: #1B384E;
                color: white;

                &:hover {
                    background: #4070B5;

                    .card__details {
                        background: #4F80C6;

                        &:hover {
                            background: #5C91DE;
                        }
                    }

                    .card__apply {
                        background: rgba(255, 255, 255, 0.8);

                        &:hover {
                            background: #FFFFFF;
                        }
                    }
                }
            }

            .card__details {
                &::after {
                    content: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.49902 4.5L4.66409 0.75L0.333959 0.750001L2.49902 4.5Z' fill='white'/%3E%3C/svg%3E%0A");
                }
            }

            .card__apply {

            }
        }

        &__head {
            border: 1px solid #E1E1E1;
            border-bottom: none;
            border-radius: 4px 4px 0 0;
            background: #F5F5F5;
            font-weight: 700;
            font-size: microbe-rem(12);
            letter-spacing: 0.01em;
            color: $color-accent;
            padding: microbe-rem(5) microbe-rem(8);
            margin: 0 9px;
        }

        &__body {
            border: 1px solid #E1E1E1;
            border-radius: 4px;
            background: white;
            font-size: microbe-rem(14);
            line-height: microbe-rem(22);
            letter-spacing: 0.01em;
            color: $color-accent;
            padding: microbe-rem(15);
            transition: background .3s linear;

            span {
                margin-bottom: 10px;
                display: block;
            }

            &:hover {
                background: #F8D748;

                .card__details {
                    background: #FFE161;

                    &:hover {
                        background: #FFEB94;
                    }
                }

                .card__apply {
                    background: rgba(255, 255, 255, 0.8);

                    &:hover {
                        background: #FFFFFF;
                    }
                }
            }
        }

        &__details {
            display: flex;
            align-items: center;
            transition: background .3s linear;
            padding: 5px 6px 6px;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 700;
            margin-left: -6px;

            &::after {
                content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMi40OTk1MSA0LjVMNC42NjQ1OCAwLjc1TDAuMzM0NDQ4IDAuNzUwMDAxTDIuNDk5NTEgNC41WiIgZmlsbD0iIzM1MzUzNSIvPgo8L3N2Zz4K');
                display: inline-block;
                margin-left: 5px;
                transition: transform .3s linear;
            }

            &.is-active {
                & ~ div {
                    display: block
                }

                &::after {
                    transform: rotate(180deg) translateY(-3px);
                }
            }
        }

        &__apply {
            font-weight: 700;
            font-size: microbe-rem(14);
            letter-spacing: 0.01em;
            color: $color-accent;
            border-radius: 4px;
            transition: background .3s linear;
            padding: 5px 6px 6px;
            margin-right: -6px;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.8);
        }
    }

    .title {
        .text--weight-bold {
            @include microbe-media($breakpoint-sm, max) {
                opacity: .6;
                transition: opacity .3s linear;

                &.is-active,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &--min-height {
        min-height: 550px;
    }
}
