.newPost-select {
    .relative {
        position: relative;
    }

    .absolute {
        position: absolute
    }

    &__options {
        position: absolute;
        top: 25px;
        background: white;
        z-index: 10;
        max-height: 300px;
        overflow: auto;
        width: 100%;
        padding: 0 5px;
    }

    .newPost-select__option {
        padding: 5px;
        color: $color-accent;
        transition: all .3s linear;

        &--input {
            padding-left: 54.5312px;
            position: relative;
            top: -1px;
        }

        &--selected {
            display: flex;
            width: 100%;
            padding-left: 54.5312px;
            justify-content: space-between;
        }

        &--reset {
            width: 20px;
            position: relative;
            top: -3px;
            cursor: pointer;
        }

        &:hover {
            color: white;
            background: $color-accent;
        }
    }
}
