.noty {
    $this: &;

    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1000;
    transition: right 2s linear;

    &__message {
        padding: 5px 10px;
        color: $color-white;
        border-radius: 4px;

        &--success {
            background: $color-status-new;
        }

        &--error {
            background: $color-main-active;
        }

        &--info {
            background: #273C49;
        }
    }
}
