.pagination {
    $this: &;

    &__item {
        cursor: pointer;
        color: #07273F;
        box-sizing: border-box;
        border: 1px solid #fff;
        text-align: center;
        padding: 6.2px 11.8px 6.8px 11px;
        transition: border .3s linear;

        &.is-active {
            background: #07273F;
            border: 1px solid #404040;
            box-sizing: border-box;
            border-radius: 4px;
            color: #F8D748;
        }

        &:hover {
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 4px;
        }

        &--withoutBorder {

            &:hover {
                border: 1px solid #fff;
                color: #07273F;

                span {
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        background: #F8D748;
                    }
                }
            }
        }
    }
}
