.popup {
    $this: &;

    background: $color-accent-half;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    overflow: auto;
    opacity: 0;

    &__load {
        position: fixed;
        z-index: 1002;
        opacity: 1;
    }

    @include microbe-media($breakpoint-xs) {
        padding-top: unset;
    }

    @include microbe-media($breakpoint-md) {
        justify-content: center;
        padding-top: unset;
        padding-bottom: unset;
    }

    &__close {
        position: absolute;
        right: 28px;
        top: 22px;
        cursor: pointer;
        padding: 0;
        z-index: 1;

        @include microbe-media($breakpoint-xs) {
            top: 28px;
        }

        @include microbe-media($breakpoint-lg) {
            right: 35px;
            top: 28px;
        }

        &:hover {
            i {
                color: #232323;
            }
        }

        #{$this}__header & {
            position: relative;
            right: unset;
            top: 2px;
        }

        i {
            color: #4D4C4D;
            transition: color .3s linear;
        }
    }

    &__wrapper {
        position: sticky;
        margin: auto;
        background: $color-white;
        min-width: microbe-rem(300);
        z-index: 1;
        box-sizing: border-box;
        border: 1px solid $color-grey;
        border-radius: microbe-rem(10);
        width: clamp(500px, 700px, 50%);
        padding: microbe-rem(20) microbe-rem(20);
        transition: transform .3s linear;
        transform: scale(0);
        overflow: hidden;

        &.is-show {
            transform: scale(1);
        }

        @include microbe-media($breakpoint-xs) {
            padding: microbe-rem(25) microbe-rem(35);
        }

        &--small {
            width: clamp(500px, 500px, 50%);
        }

        &--big {
            width: clamp(500px, 900px, 100%);
        }

        &--scroll-block {
            & > ._grid, .popup__body {
                max-height: 500px;
                overflow: auto;
                font-size: microbe-rem(16);
            }
        }

        @include microbe-media($screen-vw) {
            padding: microbe-rem(45) microbe-rem(55);
        }
    }

    .delivery__files & {
        top: 0;
    }

    .input-indicator:focus-within .popup__sub-title {
        &:after {
            width: 100%;
        }
    }

    &__header {
        background-color: #F8F8F8;
        border-bottom: 1px solid #E1E1E1;
        padding: microbe-rem(20) microbe-rem(20);
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: microbe-rem(18);

        i {
            font-size: microbe-rem(22);
        }

        @include microbe-media($breakpoint-xs) {
            padding: microbe-rem(25) microbe-rem(35);
        }

        @include microbe-media($screen-vw) {
            padding: microbe-rem(25) microbe-rem(35);
            font-size: microbe-rem(24);

            i {
                font-size: microbe-rem(28);
            }
        }
    }

    &__body {
        padding: microbe-rem(0) microbe-rem(20);

        @include microbe-media($breakpoint-xs) {
            padding: microbe-rem(5) microbe-rem(35);
        }

        @include microbe-media($screen-vw) {
            padding: microbe-rem(25) microbe-rem(55);
            font-size: microbe-rem(28);
        }
    }

    &__title {
        font-weight: $font-weight-bold;
        font-size: microbe-rem(18);
        color: $color-accent;
        margin-bottom: microbe-rem(32);
        text-align: left;
        line-height: normal;

        @include microbe-media($breakpoint-md) {
            text-align: center;
            font-size: microbe-rem(24);
        }

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(34);
            margin-bottom: microbe-rem(42);
        }
    }

    &__text {
        font-weight: 400;
        font-size: microbe-rem(18);
        letter-spacing: 0.04em;
        color: $color-accent;

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(18);
        }
    }

    &__sub-title {
        font-size: microbe-rem(16);
        color: $color-accent;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.04em;
        position: relative;

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(16);
        }

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #4070B5;
            transition: width .3s linear;
        }

    }

    &--size-lg {
        width: 100%;
        max-width: 90%;

        @include microbe-media($breakpoint-sm) {
            max-width: 70%;
        }

        @include microbe-media($screen-vw) {
            max-width: vw(848);
        }
    }

    &--transparent {
        top: 0;

        #{$this}__close {
            svg {
                .cl1 {
                    fill: white;
                    transition: fill .3s linear;
                }
            }

            &:hover {
                svg {
                    .cl1 {
                        fill: #7e7c7c;
                    }
                }
            }
        }

        #{$this}__wrapper {
            background: rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(159, 159, 159, 0.6);
            box-sizing: border-box;
            backdrop-filter: blur(8px);
            border-radius: 4px;
        }

        #{$this}__title {
            box-sizing: border-box;
            color: $color-white;
            font-size: microbe-rem(16);
            letter-spacing: 0.04em;
            text-align: left;
            margin-bottom: 5px;

            svg {
                display: inline-block;
                margin-right: 10px;
            }
        }

        #{$this}__sub-title {
            font-style: italic;
            font-weight: 400;
            font-size: microbe-rem(14);
            letter-spacing: 0.04em;
            color: #B6B6B6;
        }

        #{$this}__text {
            font-weight: 400;
            font-size: microbe-rem(14);
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }

        #{$this}__rating-count {
            font-weight: 300;
            font-size: microbe-rem(25);
            line-height: 30px;
            letter-spacing: 0.08em;
            color: #FFFFFF;

            svg {
                pointer-events: all;

                .cl1 {
                    fill: white;
                    transition: fill .3s linear;
                }

                &:hover {
                    cursor: pointer;

                    .cl1 {
                        fill: $color-accent;
                    }
                }
            }
        }

        #{$this}__rating-stars {
            button {
                margin: 0;
                padding: 0;
                outline: 0;
                cursor: pointer;
                transition: transform .3s linear;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }

        .textarea__wrapper {
            position: relative;
            top: 10px;

            &::before {
                content: "";
                width: 1px;
                left: 0;
                bottom: 5px;
                position: absolute;
                height: 93%;
                background: rgba(159, 159, 159, 0.4);
            }

            &::after {
                content: "";
                width: 88%;
                right: 3px;
                position: absolute;
                height: 1px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 34%, rgba(159, 159, 159, 0.4) 34%, rgba(159, 159, 159, 0.4) 100%)
            }

            label {
                font-weight: 400;
                font-size: microbe-rem(14);
                letter-spacing: 0.02em;
                color: #FFFFFF;
                position: absolute;
                left: 0;
                top: -10px;
                padding-right: 10px;
                width: 100%;
            }

            textarea {
                border-right: 1px solid rgba(159, 159, 159, 0.4);
                border-bottom: 1px solid rgba(159, 159, 159, 0.4);
                box-sizing: border-box;
                border-radius: 4px;
                background: transparent;
                resize: none;
                width: 100%;
                outline: none;
                padding: 15px;
                color: #FFFFFF;
                font-size: microbe-rem(16);
            }
        }

        .great {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.08em;
            color: #FFFFFF;
        }
    }

    &__file-link {
        color: $color-accent;
        letter-spacing: 0.04em;
        white-space: nowrap;
         transition: text-shadow .3s linear;

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            text-decoration: underline;
        }
    }

    &__file-time {
        font-size: 0.875rem;
        color: #787272;
    }

    &__folder {
        width: calc(100% / 2);
        font-weight: 400;
        font-size: microbe-rem(18);
        color: $color-accent;
        margin-bottom: 30px;
        padding: 15px;
        border: 0.5px solid white;

        &:hover {
            background: #F8F8F8;
            border: 0.5px solid #E1E1E1;
            border-radius: 5px;
            cursor: pointer;
        }

        @include microbe-media($breakpoint-xs) {
            width: calc(100% / 3);
        }

        @include microbe-media($breakpoint-sm) {
            width: calc(100% / 4);
        }

        @include microbe-media($breakpoint-md) {
            width: calc(100% / 5);
        }
    }

    &__scroll-content {
        max-height: 250px;
        overflow: auto;
    }

    .ellipsis-text {
        display: inline-block;
        width: calc(100% - 55px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: bottom;
        border: unset!important;
    }

    input, select {
        font-size: microbe-rem(16);
        line-height: 19px;
        letter-spacing: 0.04em;
        color: $color-accent;
        outline: none;
        width: 100%;

        &::placeholder {
            font-style: italic;
        }
    }
}
