.preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    background: #80808073;
    z-index: 100;
    opacity: 1;
    transition: opacity .3s linear;
    top: 0;
    left: 0;

    &.is-hide {
        opacity: 0;
        z-index: -100;
    }
}
