.recipient {
    $this: &;
    color: #273C49;

    &:hover {
        cursor: pointer;
    }

    &__table {
        border-radius: 4px;

        ._cell {
            border-bottom: 1px solid #A5A5A5;
            position: relative;
        }

        ._cell--8 {
            &:after {
                content: '';
                width: 1px;
                height: 75%;
                background: #A5A5A5;
                display: inline-flex;
                position: absolute;
                right: 0;
                top: calc((100% - 75%) / 2);
            }
        }
    }

    &__head {
        font-weight: $font-weight-medium;
        font-size: microbe-rem(16);
        letter-spacing: 0.04em;
        color: $color-accent;
    }

    &__line {
        font-size: microbe-rem(14);
        color: $color-accent;
        border-bottom: 1px solid #F2F4F8;
        margin: microbe-rem(0) microbe-rem(-6);
        padding: microbe-rem(15) microbe-rem(6);
        overflow-x: hidden;

        &:hover {
            overflow-x: auto;
        }

        & > div {
            min-width: 800px;
        }

        .popup {
            min-width: auto;
        }

        &.is-open {
            background: #dbe4eb;
            animation: showLine .6s linear forwards;

            & > ._grid {
                display: inline-flex;

                & > ._cell--3 {
                    flex-basis: auto;
                    width: 250px;
                    position: sticky;
                    top: 0;
                    margin-bottom: auto;
                }

                & > ._cell--4 {
                    flex-basis: auto;
                    width: 400px;
                }

                & > ._cell--5 {
                    flex-basis: auto;
                    width: 600px;
                }
            }
        }

        &:not(.is-open):hover {
            background: #F7F7F7;
            outline: 1px solid #E1E1E1;
        }
    }

    &__attach {
        font-style: italic;
        font-size: microbe-rem(14);
        color: #787272;

        svg {
            cursor: pointer;
            pointer-events: all;

            .cl1 {
                fill: #353535;
                transition: fill .3s linear;
            }

            &:hover {
                .cl1 {
                    fill: #787272;
                }
            }
        }

        .svg {
            padding: 5px;
            background: white;
            border: 1px solid #E6E6E6;
        }
    }

    &__name {
        transition: text-shadow .3s linear;
        display: inline-flex;
        align-items: baseline;

        svg {
            margin: 0 0 0 8px;
            flex-shrink: 0;
        }

        .is-open & {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;

            &:hover {
                text-shadow: unset;
                cursor: default;
            }
        }

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            cursor: pointer;
        }
    }

    &__time {
        color: #787272;
    }

    &__close {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $color-accent;
        transition: text-shadow .3s linear;

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }

        svg {
            margin-right: 5px;
        }
    }

    &__list {
        & > ._grid {
            transition: text-shadow .3s linear;

            &:first-child {
                ._cell {
                    cursor: default;

                    &::before,
                    &::after {
                        display: none;
                    }
                }
            }

            &:not(:first-child) {
                color: #787272;
            }

            & ._cell {
                &::after, &::before {
                    transition: opacity .3s linear;
                }
            }

            & ._cell:nth-child(2),
            & ._cell:nth-child(3),
            & ._cell:nth-child(4),
            & ._cell:nth-child(5) {
                display: flex;
                align-items: center;

                &::after, &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(to right, #787272, #787272 4px, transparent 4px, transparent);
                    background-size: 8px 100%;
                    position: relative;
                    top: 1px;
                    opacity: 0;
                    transition: opacity .3s linear;
                }

                &::before {
                    left: 0;
                    margin-right: 5px;
                }

                &::after {
                    right: 0;
                    margin-left: 5px;
                }
            }

            &.is-active {
                text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;

                & ._cell {
                    &::after, &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: linear-gradient(to right, #787272, #787272 4px, transparent 4px, transparent);
                        background-size: 8px 100%;
                        position: relative;
                        top: 1px;
                        opacity: 1;
                        transition: opacity .3s linear;
                    }
                }

                & ._cell:nth-child(1) {
                    display: flex;
                    align-items: center;

                    &::before {
                        display: none;
                    }

                    &::after {
                        right: -15px;
                        width: 15px;
                    }
                }
                & ._cell:nth-child(2),
                & ._cell:nth-child(3),
                & ._cell:nth-child(4),
                & ._cell:nth-child(5) {
                    display: flex;
                    align-items: center;

                    &::before {
                        left: 0;
                        margin-right: 5px;
                    }

                    &::after {
                        right: 0;
                        margin-left: 5px;
                    }
                }
                & ._cell:nth-child(6) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    &::after {
                        display: none;
                    }

                    &::before {
                        width: calc(100% - 15px);
                        position: relative;
                        left: 0;
                    }
                }

                #{$this}__pseudo-line {
                    opacity: 1;
                    transition: opacity .3s linear;
                    z-index: 1;
                }
            }

            &.is-open {
                text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;

                ._cell:nth-child(1) {
                    background: rgba(255, 255, 255, 0.6);
                    position: relative;
                    padding-right: 20px;
                    cursor: pointer;

                    &::after {
                        content: url("data:image/svg+xml,%3Csvg width='5' height='4' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4L0.334936 0.25L4.66506 0.250001L2.5 4Z' fill='%23787272'/%3E%3C/svg%3E%0A");
                        display: inline-flex;
                        position: absolute;
                        transform: translate(-10px, 15px) rotate(180deg);
                        background: unset;
                        width: auto;
                        height: auto;
                        top: 0;
                        right: 0;
                    }
                }
            }

            .text-small {
                font-size: microbe-rem(12);
            }
        }

        ._cell {
            padding: microbe-rem(10) 0;
            border-bottom: 1px solid #F9F9F9;

            &--10px {
                width: 10px;
            }
        }

        & ._cell:not(:first-child) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & ._cell:nth-child(1) {
            background: rgba(255, 255, 255, 0.6);
            position: relative;
            padding-right: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::after {
                content: url("data:image/svg+xml,%3Csvg width='5' height='4' viewBox='0 0 5 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 4L0.334936 0.25L4.66506 0.250001L2.5 4Z' fill='%23787272'/%3E%3C/svg%3E%0A");
                display: inline-flex;
                position: absolute;
                right: 10px;
            }
        }

        & ._cell:nth-child(2) {
            border-bottom: 1px solid #EDEDED;
        }

        & ._cell:nth-child(3) {
            background: rgba(255, 255, 255, 0.6);
            color: #C19046;
        }

        & ._cell:nth-child(4) {
            background: rgba(255, 255, 255, 0.6);
            color: #4070B5;
        }

        & ._cell:nth-child(5) {
            background: rgba(255, 255, 255, 0.6);
        }

        & ._cell:nth-child(6) {
            border-bottom: 1px solid #EDEDED;
        }

        &--sup {
            font-style: italic;

            &.is-active {
                ._cell:nth-child(1) {
                    &::before {
                        display: inline-block!important;
                        content: '';
                        width: 20px;
                        height: 100%;
                        background: #dbe4eb;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &::after {
                        content: "";
                        height: 1px;
                        background: linear-gradient(to right, #787272, #787272 4px, transparent 4px, transparent);
                        background-size: 8px 100%;
                        position: relative;
                        top: 1px;
                        right: -15px;
                        width: 15px;
                        display: inline-block;
                    }
                }
            }

            ._cell:nth-child(1) {
                color: #787272;
                position: relative;
                padding-left: 40px!important;
                background: #e3eaf0;
                cursor: default;
                overflow: hidden;

                &::before {
                    display: inline-block;
                    content: '';
                    width: 20px;
                    height: 100%;
                    background: #dbe4eb;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &::after {
                    display: none;
                }
            }
            ._cell:nth-child(2) {
                background: #b8c9d9;
            }
            ._cell:nth-child(3) {
                background: #e3eaf0
            }
            ._cell:nth-child(4),
            ._cell:nth-child(5) {
                background: #c7d5e2
            }
        }

        &--right {
            & > .is-current {
                color: #a41a18;
                text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            }

            & > ._grid {
                &:first-child {
                    ._cell {
                        cursor: default;

                        &::before,
                        &::after {
                            display: none;
                        }

                        &:hover {
                            cursor: default;
                            text-shadow: unset;
                        }
                    }
                }

                &.is-active {
                    & ._cell:nth-child(1) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;

                        &::before {
                            content: "";
                            width: 10px;
                            height: 7px;
                            background-image: url("data:image/svg+xml,%3Csvg id='РЎР»РѕР№_1' data-name='РЎР»РѕР№ 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.87 7.36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23787272;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArrow2%3C/title%3E%3Cpath class='cls-1' d='M94.35,3.65a.48.48,0,0,1,0,.7L91.17,7.54a.5.5,0,1,1-.71-.71L93.29,4,90.46,1.17a.51.51,0,0,1,0-.71.51.51,0,0,1,.71,0Z' transform='translate(-83.62 -0.32)'/%3E%3Crect class='cls-1' x='8.3' y='3.18' width='2.08' height='1'/%3E%3Crect class='cls-1' y='3.18' width='4.15' height='1'/%3E%3C/svg%3E");
                            background-size: 100%;
                            left: unset;
                            background-repeat: no-repeat;
                            display: inline-flex;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto 0;
                            right: 100%;
                        }

                        &::after {
                            content: "";
                            display: none;
                        }
                    }
                    & ._cell:nth-child(5) {
                        &::before {
                            width: 50%;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            ._cell:nth-child(1) {
                background-color: #dbe4eb;

                &:hover {
                    cursor: pointer;
                    text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;

                    .popup & {
                        cursor: default;
                        text-shadow: unset;
                    }
                }

                &::after {
                    content: '';
                }
            }

            ._cell:nth-child(2) {
                background-color: #f0f4f7;
                color: #C19046;
            }

            ._cell:nth-child(3) {
                background-color: #e4e9ef;
                color: #4070B5;
            }

            ._cell:nth-child(4) {
                background-color: #dbe4eb;
                color: unset;
            }

            ._cell:nth-child(5) {
                position: relative;
                background-color: #f0f4f7;
                border-bottom: 1px solid #EDEDED;
            }
        }

        &--inner {
            overflow-x: auto;

            & > div {
                min-width: 1000px;

                @include microbe-media($breakpoint-df) {
                    min-width: auto;
                }
            }

            ._grid {
                & ._cell:nth-child(1) {
                    &::after {
                        display: none;
                    }
                }
                & ._cell:nth-child(2),
                & ._cell:nth-child(3),
                & ._cell:nth-child(4),
                & ._cell:nth-child(5) {
                    &::after, &::before {
                        content: unset;
                    }
                }
            }
        }
    }

    &__pseudo-line {
        position: absolute;
        width: 1px;
        background: linear-gradient(to top, #787272, #787272 4px, transparent 4px, transparent);
        background-size: 100% 8px;
        left: calc(100% - 15px);
        opacity: 0;
        transition: opacity .3s linear;
    }

    &__confirmation-icon {
        margin-left: auto;

        &--approve {
            cursor: pointer;

            svg {
                pointer-events: all;
            }
        }
    }

    &__status {
        font-style: italic;
        color: white;
        width: 250px;
        position: relative;
        top: microbe-rem(-15);
        font-size: microbe-rem(14);
        padding: 8px 10px 10px 10px;

        &--new  {
            background-color: #c4c4c4;
        }
        &--list-not-confirmed  {
            background-color: #DE0717;
        }

        &--delivery-not-confirmed {
            background-color: #DE0717;
        }

        &--list-confirmed {
            background-color: #92c95a;
        }

        &--delivery-confirmed {
            background-color: #92c95a;
        }
        &--list-send-confirm {
            background-color: #4070b5;
        }
        &--delivery-send {
            background-color: #c19046;
        }
    }
}
