.ring {
    $this: &;
    position: relative;
    padding-left: 100px;

    &:not(.not_hover):hover {
        cursor: pointer;

        i {
            margin: 16px 0 15px 0;
            color: #4070B5;
        }

        #{$this}__count {
            top: -4px;
        }

        #{$this}__block {
            opacity: 1;
            pointer-events: auto;
            height: auto;
            border: 0.7px solid #E1E1E1;
        }
    }

    &__count {
        width: 20px;
        height: 20px;
        background-color: #de0717;
        border-radius: 50%;
        position: absolute;
        right: -11px;
        top: -10px;
        font-size: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block {
        position: absolute;
        top: calc(100% + 0px);
        right: 0;
        z-index: 10;
        background: #F7F7F7;
        font-weight: 400;
        font-size: microbe-rem(16);
        color: #1E2022;
        display: flex;
        flex-direction: column;
        opacity: 0;
        border-radius: 4px;
        width: 250px;
        transition: opacity .3s linear;
        height: 0;
        pointer-events: none;
        overflow: hidden;
    }

    &__item {
        transition: text-shadow .3s linear;
        display: flex;
        align-items: center;
        padding: 10px 15px;

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }
    }

    .fa-bell {
        transition: color .3s linear;
        color: $color-accent;
    }
}
