.section {
    $this: &;
    --offset-top: 0;
    --offset-bottom: 0;

    padding: var(--offset-top) 0 var(--offset-bottom);
    background-color: initial;
    flex-grow: 1;

    &--main-title {
        margin-top: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

        @media screen and (min-width: 568px) and (min-height: 768px) {
            margin-top: calc(100vh / 4 - 50px);
        }

        @media screen and (min-width: 768px) and (min-height: 768px) {
            margin-top: unset;
            padding-top: 100px;
        }
    }

    &--main-buttons {
        margin-bottom: 20px;
    }

    &--marketplace {
        background: rgba(255, 255, 255, 0.97);
    }

    &--overflow {
        overflow: hidden;
    }

    &--about {
        font-size: microbe-rem(14);
        line-height: microbe-rem(24);

        b {
            font-weight: $font-weight-bold;
        }

        a {
            color: #F8D748;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                top: 100%;
                margin-top: 4px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #F8D748;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}
