.sidebar {
    $this: &;

    background: #F7F7F7;
    box-sizing: border-box;
    position: relative;
    border: 0.7px solid #E1E1E1;

    &__item {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid #F2F4F8;
        margin: 0 microbe-rem(10);
        white-space: nowrap;

        &.swiper-slide {
            width: auto;
        }
    }

    &__link {
        font-weight: 400;
        font-size: microbe-rem(14);
        line-height: 22px;
        color: #1E2022;
        transition: text-shadow .3s linear;
        position: relative;

        &.is-active {
            font-weight: $font-weight-bold;

            #{$this}__icon {
                &:nth-child(1) {
                    display: none;
                    opacity: 0;
                }

                &:nth-child(2) {
                    display: block;
                    opacity: 1;
                }
            }
        }

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;

            #{$this}__icon {
                &--hover {
                    opacity: 1;
                }

                i {
                    text-shadow: unset;
                    font-weight: normal;
                    color: #4070B5;
                }
            }
        }
    }

    &__icon {
        margin-right: 10px;
        transition: opacity 0.3s linear;

        i {
            color: #C4C4C4;
        }

        &--hover {
            position: absolute;
            opacity: 0;
        }
    }

    .slider-navigation {
        height: 100%;

        @include microbe-media($breakpoint-lg, max) {
            display: flex;
        }

        .swiper-button-disabled {
            opacity: 0;
        }

        &__button {
            background: #F7F7F7;
            height: 100%;
            width: 30px;
            transition: background 0.3s linear;

            &:hover {
                background: #ebebeb;

                &::before {
                    border-color: unset;
                    background-color: unset;
                }
            }

            &--prev {
                border-right: 0.7px solid #E1E1E1;

                &:after {
                    content: "";
                    background: linear-gradient(270deg, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                    width: 80px;
                    height: 100%;
                    display: inline-flex;
                    position: absolute;
                    left: calc(100% + 1px);
                    pointer-events: none;
                }
            }

            &--next {
                border-left: 0.7px solid #E1E1E1;

                &:before {
                    content: "";
                    background: linear-gradient(90deg, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                    width: 80px;
                    height: 100%;
                    display: inline-flex;
                    position: absolute;
                    right: calc(100% + 1px);
                    pointer-events: none;
                }
            }
        }
    }
}
