.soc-widget {
    position: fixed;
    right: 15px;
    bottom: 15px;
    opacity: 1;
    z-index: 1;

    &.is-hide {
        opacity: 0;
        right: -100%;

        @include microbe-media($breakpoint-xl) {
            opacity: 1;
            right: 15px;
        }
    }

    i {
        font-size: 28px;
        color: #1F1E1E;
        will-change: transform;
        transition: all .3s ease;
    }

    .btn_wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        width: 130px;
        height: 50px;
        background-color: #EEEEED;
        border-radius: 80px;
        padding: 0 18px;
        will-change: transform;
        transition: all 0.2s ease-in-out;
    }

    .btn_wrap:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    span {
        position: absolute;
        z-index: 99;
        width: 130px;
        height: 50px;
        border-radius: 80px;
        font-size: 15px;
        text-align: center;
        line-height: 1;
        letter-spacing: 2px;
        color: #EEEEED;
        background-color: #1F1E1E;
        padding: 10px 18px;
        transition: all 1.2s ease;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 130px;
        height: 50px;
        border-radius: 80px;
    }

    .container i:nth-of-type(1) {
        transition-delay: 1.1s;
    }

    .container i:nth-of-type(2) {
        transition-delay: .9s;
    }

    .container i:nth-of-type(3) {
        transition-delay: .7s;
    }

    .container i:nth-of-type(4) {
        transition-delay: .4s;
    }

    .btn_wrap:hover span {
        transition-delay: .25s;
        transform: translateX(-280px)
    }

    .btn_wrap:hover i {
        opacity: 1;
        transform: scale(1);
    }

    .btn_wrap a {
        transition: transform .3s linear;
    }

    .btn_wrap a:hover {
        transform: scale(1.1);
    }
}
