.tab {
    $this: &;

    font-size: microbe-rem(14);
    font-weight: $font-weight-medium;
    color: $color-accent;

    @include microbe-media($screen-vw) {
        font-size: microbe-rem(20);
    }

    &__link {
        &:hover {
            cursor: pointer;

            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: $color-accent;
                display: block;
                position: relative;
                top: 3px;
            }
        }

        &.is-active {
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: $color-accent;
                display: block;
                position: relative;
                top: 3px;
            }
        }
    }

    &__item {
        display: block;
        height: 335px;
        background-size: cover;
        background-position: center;
        border-radius: 5px;

        &--small {
            height: 180px;
        }
    }
}
