.table {
    $this: &;

    &__line {
        display: flex;
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #353535;
    }

    &__link {
        transition: text-shadow .3s linear;

        &:hover {
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
            cursor: pointer;
        }
    }

    &__date {
        color: #A5A5A5;
    }

    &__description {
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #353535;
        margin-top: 10px;
        margin-left: 23px;
    }

    hr {
        background: #DFDEDE;
        height: 1px;
        margin-bottom: 15px;
    }
}
