.tabs {
    $this: &;
    position: relative;

    &__item {
        cursor: pointer;
        padding: microbe-rem(8) microbe-rem(10) microbe-rem(10) microbe-rem(10);
        font-weight: 400;
        font-size: microbe-rem(16);
        color: #fff;
        transition: text-shadow .3s linear, background .3s linear;
        background: #4272B7;
        border: 1px solid #4272B7;
        align-self: end;

        &:hover {
            background: #6B94CE;
            text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
        }

        &.is-active {
            padding: microbe-rem(10) microbe-rem(12) microbe-rem(12) microbe-rem(12);
            color: $color-accent;
            background: unset;
            z-index: 1;
            border: 1px solid #E1E1E1;
            border-bottom: unset;
            border-radius: 4px 4px 0 0;
        }

        &.has-error {
            animation: blink 1s infinite;
        }

        &:first-child {
            &:not(.is-active) {
                border-top-left-radius: 4px;
            }
        }

        &:last-child {
            &:not(.is-active) {
                border-top-right-radius: 4px;
            }

            &::after{
                content: "";
                width: 100%;
                height: 0.7px;
                background: #E1E1E1;
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}
