.text {
	$this: &;

	color: $color-accent-half;
	font-size: microbe-rem(12);
	font-family: $font-family-default;
	line-height: microbe-em(17, 14);

	@include microbe-media($screen-vw) {
		font-size:  microbe-rem(14);
	}

	&--size-sm {
        font-size: microbe-rem(14);
        line-height: microbe-em(19, 15);

        @include microbe-media($screen-vw) {
            font-size: vw(15);
        }
	}

	&--size-md {
		font-size: microbe-rem(16);
		line-height: microbe-em(19, 16);

		@include microbe-media($screen-vw) {
			font-size: vw(16);
		}
	}

	&--size-def {
		font-size: microbe-rem(16);
		line-height: microbe-em(29, 18);

		@include microbe-media($screen-vw) {
			font-size: vw(18);
		}
	}

    &--size-lg {
        font-size: microbe-rem(16);
        line-height: microbe-em(22, 18);

        @include microbe-media($screen-vw) {
            font-size: vw(20);
        }
    }

	&--size-lg-2 {
		font-size: microbe-rem(16);
        line-height: 1.4;

		@include microbe-media($screen-vw) {
            line-height: microbe-em(32, 20);
            font-size: vw(20);
		}
	}

	&--size-xxl {
        font-size: microbe-rem(18);
        line-height: microbe-em(32, 24);

        @include microbe-media($breakpoint-md) {
            font-size: microbe-rem(20);
        }

        @include microbe-media($screen-vw) {
            font-size: vw(24);
        }
	}

    &--size-hg {
        font-size: microbe-rem(26);

        @include microbe-media($breakpoint-md) {
            font-size: microbe-rem(40);
        }

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(50);
        }
    }

    &--size-ultra {
        font-size: microbe-rem(24);

        @include microbe-media($breakpoint-md) {
            font-size: microbe-rem(45);
        }

        @include microbe-media($screen-vw) {
            font-size: vw(65);
        }
    }

	&--weight-thin {
		font-weight: 300;
	}

    &--weight-medium {
        font-weight: $font-weight-medium;
    }

	&--weight-semibold {
		font-weight: $font-weight-semibold;
	}

	&--weight-bold {
		font-weight: $font-weight-bold;
	}

	&--shadow {
        text-shadow: 0 0 .65px $color-accent, 0 0 .65px $color-accent;
	}

    &--color-white {
        color: $color-white;
    }

	&--color-black {
		color: $color-black;
	}

    &--color-accent {
        color: $color-accent;
    }

    &--color-dark-purple {
        color: $color-dark-purple;
    }

    &--color-half-white {
        color: rgba($color-white, 0.6);
    }

    &--color-half-accent {
        color: rgba($color-accent, 0.6);
    }

    &--color-main {
        color: $color-main;
    }

    &--color-grey {
        color: $color-grey-3;
    }

    &--color-lightgrey {
        color: $color-text-light;
    }

    &--color-yellow {
        color: #fcd748;
    }

    &--color-blue {
        color: $color-dark;
    }

    &--lh-1 {
        line-height: 1;
    }

    &--labeled {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        #{$this}__label {
            display: inline-flex;
            position: relative;
            padding: microbe-rem(2) microbe-rem(8);
            font-size: microbe-rem(14);
            font-weight: $font-weight-bold;
            line-height: microbe-em(17, 14);
            background-color: $color-label;
            color: $color-white;
            border-radius: microbe-rem(20);
            margin-bottom: microbe-rem(5);

            @include microbe-media($screen-vw) {
                font-size: vw(14);
                padding: vw(2) vw(8);
                border-radius: vw(20);
                margin-bottom: vw(5);
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                right: microbe-rem(15);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: microbe-rem(10) microbe-rem(16) 0 0;
                border-color: $color-label-secondary transparent transparent transparent;

                @include microbe-media($screen-vw) {
                    right: vw(15);
                    border-width: vw(10) vw(16) 0 0;
                }
            }
        }
    }

    &--decor-left {
        display: flex;

        &::before {
            display: block;
            content: '';
            width: microbe-rem(5);
            height: auto;
            background-color: $color-main;
            margin-right: microbe-rem(20);

            @include microbe-media($screen-vw) {
                width: vw(5);
                margin-right: vw(20);
            }
        }

        br {
            @include microbe-media($breakpoint-md, max) {
                display: none;
            }
        }

    }

    &--sup {
        position: absolute;
        top: 0;
    }

    &--italic {
        font-style: italic;
    }

    &--error {
        font-size: microbe-rem(12);
        letter-spacing: 0.04em;

        @include microbe-media($screen-vw) {
            font-size: microbe-rem(14);
        }
    }
}
