.title {
	$this: &;

	font-weight: normal;
	color: $color-accent;
	margin: 0;
	font-family: $font-family-default;
	transition: color $duration-normal ease;

	&--ff-secondary {
		font-family: $font-family-secondary;
	}

	&--size-h1 {
		font-size: microbe-rem(24);
		line-height: 100%;

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(28);
		}

		@include microbe-media($breakpoint-df) {
			font-size: microbe-rem(35);
		}
	}

	&--size-h2 {
		font-size: microbe-rem(20);
		line-height: 100%;

        @include microbe-media($breakpoint-md) {
            font-size: microbe-rem(25);
        }

		@include microbe-media($screen-vw) {
			font-size: vw(30);
		}
	}

	&--size-h3 {
		font-size: microbe-rem(15);

		@include microbe-media($breakpoint-md) {
			font-size: microbe-rem(18);
		}
	}

	&--size-h4 {
		font-size: microbe-rem(24);
		line-height: microbe-em(38, 32);

		@include microbe-media($screen-vw) {
			font-size: vw(32);
		}
	}

	&--size-h5 {
		font-size: microbe-rem(15);
		line-height: microbe-rem(38, 24);

		@include microbe-media($screen-vw) {
			font-size: microbe-rem(18);
		}
	}

	&--size-h6 {
		font-size: microbe-rem(16);
		line-height: microbe-em(25, 20);

		@include microbe-media($screen-vw) {
			font-size: vw(20);
		}
	}

    &--weight-medium {
        font-weight: $font-weight-medium;
    }

	&--weight-semibold {
		font-weight: $font-weight-semibold;
	}

	&--weight-bold {
		font-weight: $font-weight-bold;
	}

	&--uppercase {
		text-transform: uppercase;
	}

    &--color-white {
        color: $color-white;
    }

    &._md-title--color-white {
        @include microbe-media($breakpoint-md) {
            color: $color-white;
        }
    }

    &--color-blue {
        color: #255AB5;
    }

    &--color-accent {
        color: $color-accent;
    }

    &--color-main {
        color: $color-main;
    }

    &--instruction {

    }

    &--marketplace {
        position: relative;

        svg {
            position: absolute;
            top: -10px;
            left: -20px;
            width: 300px;
            z-index: -1;

            @include microbe-media($breakpoint-xl) {
                width: 400px;
            }

            @include microbe-media($breakpoint-xl) {
                left: -50px;
                width: auto;
            }
        }
    }

    &--white-text-shadow {
        text-shadow: 2px 2px 2px rgb(255 255 255);
    }
}
