.user {
    $this: &;
    color: #273C49;

    &__list {
        ._grid {
            &:not(:first-child) {
                transition: background-color .3s linear;

                &:hover, &.is-active {
                    background-color: #F9F9F9;
                }
            }
        }
        ._cell {
            padding: microbe-rem(10) 0;
            border-bottom: 1px solid #F9F9F9;
        }

        #{$this}__lines {
            ._cell {
                border-bottom: none;
            }
        }
    }

    &__lines {
        & > ._grid {
            &:first-child {
                background: #dbe4eb;
            }
            &:not(:first-child):hover, &.is-active-item {
                background: #b8c9d9;
            }
        }
    }
}
