.video {
    &__btn {
        cursor: pointer;
        display: inline-block;

        svg {
            width: 35px;
            height: 35px;

            @include microbe-media($breakpoint-md) {
                width: 44px;
                height: 44px;
            }
        }

        span {
            font-weight: 500;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
            margin-left: 15px;
            color: $color-white;
            position: relative;
            font-size: microbe-rem(18);

            @include microbe-media($breakpoint-lg) {
                font-size: microbe-rem(20);
            }

            &::after {
                position: absolute;
                content: "";
                top: 100%;
                margin-top: 4px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #F8D748;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }
        }

        .circle {
            transition: stroke 0.3s;
            stroke: #FFF;
        }

        .triangle {
            transition: fill 0.3s;
            fill: #FFF;
        }

        &:hover {
            .circle {
                stroke: #F8D748;
            }

            .triangle {
                fill: #F8D748;
            }

            span {
                color: #F8D748;
                transition: color 0.3s;

                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    &__block {
        position: relative;

        .popup__close {
            @include microbe-media($breakpoint-xs) {
                right: -27px;
                top: -14px;
            }
            @include microbe-media($breakpoint-lg) {
                right: -35px;
                top: -25px;
            }
        }
    }

    &__play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        pointer-events: auto;
        transition: transform .3s cubic-bezier(20, 20, 20);

        .circle {
            transition: stroke 0.3s;
            fill: #FFF;
            stroke: #4070B5;
        }

        .triangle {
            transition: fill 0.3s;
            fill: #4070B5;
        }

        &:hover {
            .circle {
                transition: stroke 0.3s;
                fill: #FFF;
                stroke: #F8D748;
            }

            .triangle {
                transition: fill 0.3s;
                fill: #F8D748;
            }
        }
    }

    video {
        margin: auto;
        border-radius: 4px;
    }
}
