.grid-masonry {
    columns: 1 auto;
    gap: 20px;

    @include microbe-media($breakpoint-ms) {
        columns: 2 auto;
    }

    @include microbe-media($breakpoint-md) {
        columns: 3 auto;
    }

    @include microbe-media($breakpoint-df) {
        columns: 4 auto;
    }

    .item {
        padding: 10px;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        background: white;
        transition: transform .3s linear;
        overflow: hidden;

        img {
            width: 50px;
            height: auto;
            margin-left: 15px;
            align-self: center;

            @include microbe-media($breakpoint-md) {
                width: 70px;
            }

            @include microbe-media($breakpoint-df) {
                width: 100px;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .title {
        width: calc(100% - 70px);
        overflow: hidden;
        text-overflow: ellipsis;

        @include microbe-media($breakpoint-md) {
            width: calc(100% - 90px);
        }

        @include microbe-media($breakpoint-df) {
            width: calc(100% - 120px);
        }

        &--long {
            width: 100%!important;
        }
    }
}
