.base-slider {
	$this: &;

	position: relative;

	&__list {
		margin: 0 !important; // sass-lint:disable-line no-important
	}

	.slick-dots {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;

		li {
			list-style: none;
			line-height: 0;
			margin: 0 microbe-rem(20);

			@include microbe-media($screen-vw) {
				margin: 0 vw(20);
			}

			&.slick-active {
				button::before {
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: $color-white;
				}
			}
		}

		button {
			font-size: 0;
			padding: 0;
			cursor: pointer;
			width: microbe-rem(15);
			height: microbe-rem(15);
			list-style: none;
			position: relative;


			&::before {
				@include absolute-center();

				content: '';
				background-color: $color-grey;
				width: 55%;
				height: 55%;
				border-radius: 50%;
			}

			@include microbe-media($screen-vw) {
				width: vw(15);
				height: vw(15);
			}
		}
	}

	.slick-slide {
		outline: none;
		height: inherit;

		& > div {
			height: 100%;

			& > div {
				height: 100%;
			}
		}
	}

	.slick-track {
		display: flex;
	}
}
