.gallery-slider {
    $this: &;
    position: relative;

    &__slider {
        &--top {
            .swiper-slide {
                align-items: unset;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }

        &--bottom {
            .swiper-slide {
                width: auto;
                opacity: .5;

                &:hover {
                    opacity: 1;
                }

                &.is-active {
                    opacity: 1;
                }

                img {
                    display: block;
                    width: auto;
                    height: 100%;
                    max-height: 130px;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }
    }

    &__rating-block {
        position: absolute;
        left: 15px;
        top: 17px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__rating {
        display: flex;
        align-content: center;
        background: rgba(53, 53, 53);
        opacity: .9;
        border-radius: 4px;
        padding: microbe-rem(5) microbe-rem(10) microbe-rem(5) microbe-rem(5);
        font-size: microbe-rem(16);
        line-height: .9;
        color: white;

        svg {
            margin-right: 5px;
        }
    }

    &__set-rating {
        display: flex;
        align-content: center;
        padding: microbe-rem(8) microbe-rem(10) microbe-rem(9) microbe-rem(10);
        font-size: microbe-rem(16);
        line-height: .9;
        color: white;
        margin-bottom: microbe-rem(15);
        background: #07273F;
        border: 1px solid #404040;
        border-radius: 4px;
        transition: background .3s linear;

        svg {
            margin-right: 10px;
        }

        &:hover {
            background: #232323;
            cursor: pointer;
        }
    }

    & ~ .slider-navigation {
        top: unset;
        bottom: 0;
        padding: 45px 0;
        transform: unset;
        width: calc(100% + 40px);
        left: -20px;
        display: flex;

        &__button {
            width: auto;
            height: auto;
        }
    }
}
