.main-slider {
    $this: &;

    position: relative;

    &__slide {
        height: auto;
        padding: microbe-rem(100) 0 microbe-rem(50) 0;
    }

    &__slide, &__front-panel {
        position: relative;
        display: flex;
        flex-direction: column;

        @include microbe-media($breakpoint-df) {
            min-height: 100vh;
        }

        @include microbe-media($screen-vw) {
            padding: vh(194) 0 vh(219) 0;
        }
    }

    &__front-panel {
        padding: microbe-rem(20) 0 0 0;

        @include microbe-media($breakpoint-df, max) {
            z-index: 2;
            transform: translateY(#{microbe-rem(-70)});
            margin-bottom: microbe-rem(-50);
        }

        @include microbe-media($breakpoint-df) {
            @include microbe-absolute-gap(0, 0);

            z-index: 2;
            pointer-events: none;

            .slider-form {
                pointer-events: auto;
            }
        }
    }

    &__bg {
        @include microbe-absolute-gap(0, 0);

        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: $font-weight-extrabold;
        line-height: microbe-em(112, 110);
        color: $color-accent;
        margin-bottom: microbe-rem(8);
        font-size: microbe-rem(40);

        @include microbe-media($breakpoint-sm) {
            font-size: microbe-rem(60);
        }

        @include microbe-media($screen-vw) {
            font-size: vw(110);
            margin-bottom: vw(16);
        }
    }

    &__title-line {
        &--first {
            color: $color-main;
        }
    }

    &__sub-title {
        font-weight: $font-weight-medium;
        line-height: microbe-em(34, 24);
        color: $color-accent;

        @include microbe-media($breakpoint-md) {
            font-size: microbe-rem(24);
        }

        @include microbe-media($screen-vw) {
            font-size: vw(24);
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: microbe-rem(48) 0;

        @include microbe-media($breakpoint-df) {
            min-height: microbe-rem(567);
        }

        @include microbe-media($screen-vw) {
            min-height: vw(567);
        }

        &--type-supplier {
            #{$this}__title,
            #{$this}__sub-title {
                color: $color-white;
            }
        }
    }

    &__pagination {
        height: 100%;
        display: flex;

        @include microbe-media($breakpoint-df, max) {
            justify-content: center;
        }

        .slider-pagination {
            align-self: flex-end;
            pointer-events: auto;
        }
    }

    &--with-form {
        #{$this}__front-panel {
            @include microbe-media($breakpoint-df, max) {
                transform: translateY(#{microbe-rem(-100)});
                margin-bottom: microbe-rem(-100);
            }
        }
    }
}
