.news-slider {
    $this: &;
    margin-left: 0;

    @include microbe-media($breakpoint-sm) {
        margin-left: 200px;
    }

    .swiper-slide {
        height: auto;
        width: auto;
        transform: scale(.95);
        transition: transform .3s linear;

        &.swiper-slide-active {
            transform: scale(1);
        }

        &:not(:last-child):not(:only-child) {
            margin-right: microbe-rem(10);
        }
    }

    &__slider {
        overflow: visible;
    }
}

.news-text {
    @include microbe-media($breakpoint-sm) {
        max-height: 100%;
        max-width: 240px;
        z-index: 2;
        padding: microbe-rem(40) microbe-rem(25);
        background: linear-gradient(90.32deg, #07273F 84.02%, rgba(7, 39, 63, 0.85) 99.73%);
        color: white;
        height: 335px;
        position: absolute;
        border-radius: 4px 4px 0 0;
    }
}

.news-card__text-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;

    span {
        color: #F8D748;
    }

    @include microbe-media($breakpoint-sm) {
        margin-bottom: 5px;
        margin-top: unset;
    }
}
