.progress-circle {
    $this: &;

    line-height: 0;
    position: relative;

    &::before {
        @include absolute-center();

        z-index: 1;
        content: '';
        width: microbe-rem(6);
        height: microbe-rem(6);
        background-color: $color-grey-3;
        border-radius: 50%;

        @include microbe-media($screen-vw) {
            width: vw(6);
            height: vw(6);
        }
    }

    &.animatable {
        #{$this}__circle {
            &--outer {
                --time: 5000ms;
                transition: stroke-dashoffset var(--time) linear;
            }
        }
    }

    &__svg {
        width: microbe-rem(24);
        height: microbe-rem(24);
        stroke: $color-main;

        @include microbe-media($screen-vw) {
            width: vw(24);
            height: vw(24);
        }
    }

    &__circle {
        fill: none;
        stroke-opacity: 0;
        stroke-width: 3;
        transform-origin: center center;
        transform: rotate(-90deg);

        &--outer {
            stroke-dasharray: 1;
            stroke-dashoffset: 1;
            stroke-linecap: round;
            stroke-opacity: 1;
        }
    }
}
