.slider-scrollbar {
	$this: &;

	position: absolute;
	bottom: 0;
	width: 100%;

	.swiper-scrollbar {
		display: flex;
		align-items: center;
		height: microbe-rem(40);
		position: relative;
		box-sizing: content-box;

		&::before {
			content: '';
			@include absolute-y();

			width: 100%;
			height: microbe-rem(4);
			background-color: $color-grey;
			border-radius: microbe-rem($br-def);

			@include microbe-media($screen-vw) {
				border-radius: vw($br-def);
				height: vw(4);
			}
		}

		@media (hover: hover) {
			&:hover {
				.swiper-scrollbar-drag {
					height: inherit;

					&::before {
						height: microbe-rem(8);

						@include microbe-media($screen-vw) {
							height: vw(8);
						}
					}
				}
			}

			&:active {
				.swiper-scrollbar-drag {
					height: inherit;

					&::before {
						height: microbe-rem(8);

						@include microbe-media($screen-vw) {
							height: vw(8);
						}
					}
				}
			}
		}

		@include microbe-media($screen-vw) {
			height: vw(40);
		}
	}

	.swiper-scrollbar-drag {
		border-radius: microbe-rem($br-def);
		height: 100%;
		transition: height $duration-light ease;

		&::before {
			content: '';
			@include absolute-y();

			background-color: $color-black;
			height: microbe-rem(4);
			border-radius: microbe-rem($br-def);

			@include microbe-media($screen-vw) {
				height: vw(4);
				border-radius: vw($br-def);
			}
		}

		@include microbe-media($screen-vw) {
			border-radius: vw($br-def);
		}
	}
}
