.partners-slider {
    $this: &;

    .swiper-slide {
        height: auto;
        width: auto;
        filter: grayscale(100%);
        transition: filter .3s linear;

        &:hover {
            filter: grayscale(0%);
        }
    }

    &__slider {
        overflow: visible;
    }

    &__card {
        max-width: 250px;
        margin-right: 30px;
    }
}
