.slider-pagination {
	$this: &;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

    &--progress {
        .swiper-pagination-bullet {
            display: block;
            cursor: pointer;
            flex-shrink: 0;
            width: microbe-rem(24);
            height: microbe-rem(24);
            position: relative;
            margin: 0 microbe-rem(5);

            @include microbe-media($screen-vw) {
                margin: 0 vw(5);
                width: vw(24);
                height: vw(24);
            }

            &-active {
                .progress-circle {
                    &::before {
                        width: microbe-rem(12);
                        height: microbe-rem(12);
                        background-color: $color-main;

                        @include microbe-media($screen-vw) {
                            width: vw(12);
                            height: vw(12);
                        }
                    }
                }
            }

            &:not(.swiper-pagination-bullet-active) {
                .progress-circle {
                    &__circle {
                        &--outer {
                            stroke: transparent;
                        }
                    }
                }
            }
        }
    }
}
