.slider-navigation {
	$this: &;

	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	pointer-events: none;
	z-index: 2;

    @include microbe-media($breakpoint-lg, max) {
        display: none;
    }

	&__button {
		position: relative;
		width: microbe-rem(40);
		height: microbe-rem(40);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		border: 0;
		color: $color-white;
		cursor: pointer;
		pointer-events: auto;
        font-size: 26px;

		&.swiper-button-disabled {
			pointer-events: none;
            opacity: .6;
		}

        svg {
            fill: $color-accent;
            stroke: $color-accent;

            .circle {
                fill: #07273F;
                transition: fill .3s linear;
            }
        }

		@media (hover: hover) {
			&:hover {
                color: $color-white;

                &::before {
                    border-color: $color-accent-half;
                    background-color: $color-accent-half;
                }

                svg {
                    .circle {
                        fill: #051c2c;
                    }
                }
			}

			&:active {
                color: $color-white;

                &::before {
					background-color: $color-accent;
                    color: $color-white;
                }
			}
		}
	}

    &--default-outside {
        justify-content: flex-start;
        position: initial;
        top: initial;
        left: initial;
        right: initial;
        transform: none;
        pointer-events: auto;

        #{$this}__button {
            &--prev {
                margin-right: microbe-rem(20);

                @include microbe-media($screen-vw) {
                    margin-right: vw(20);
                }
            }
        }
    }

    &--under-slider {
        justify-content: space-between;
        right: initial;
        transform: none;
        pointer-events: auto;
        width: 110%;
        left: -5%;
        top: -190px;
        position: relative;

        #{$this}__button {
            &--prev {
                margin-right: microbe-rem(20);

                @include microbe-media($screen-vw) {
                    margin-right: vw(20);
                }
            }
        }
    }
}
