@keyframes opacity-height {
    0% {
        max-height: 0;
        overflow-y: hidden;
    }
    50% {
        max-height: 175px;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        max-height: 350px;
        overflow-x: auto;
        overflow-y: auto;
    }
}

@keyframes show {
    0% {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes showLine {
    0% {
        max-height: 80px;
        overflow-y: hidden;
    }
    50% {
        max-height: 175px;
    }
    99% {
        overflow-y: hidden;
    }
    100% {
        max-height: 350px;
        overflow-x: auto;
        overflow-y: auto;
    }
}

@keyframes blink {
    50% {
        background: #c96363;
        border-color: #c96363;
        color: white;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg) translateZ(0);
    }

    to {
        transform: rotate(1turn) translateZ(0);
    }
}
