@import 'settings/all-settings';
@import 'tools/all-tools';

body {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	margin: 0;
	min-width: 320px;
    letter-spacing: 0.02em;
    scroll-behavior: smooth;
    overflow: auto;
    animation: .8s linear show;

    &.body--fix {
        overflow: hidden;
        margin-right: 15px;
    }
}

._letter-spacing-xxs {
    letter-spacing: 1px;
}

._cursor-pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #DEDEDE;
}

::-webkit-scrollbar-thumb {
    background-color: #6B6B6B;
}

@include microbe-media($breakpoint-sm) {
    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #DEDEDE;
}

::-webkit-scrollbar-thumb {
    background-color: #6B6B6B;
}

button {
    outline: none;
}

.hr-line {
    background: #DFDEDE;
    height: 1px;
}

i {
    color: #C4C4C4;
    transition: color .3s linear;

    &:hover, &.is-active {
        color: $color-accent;
    }
}

.opacity-height {
    animation: 1s linear opacity-height;

}

.bg-unset {
    background: unset!important;
}

.road-map {
    width: 100%;
    height: auto;

    @include microbe-media($breakpoint-md) {
        display: block;
    }

    .path, .star, .circle, .city  {
        transition: opacity .5s linear;
        opacity: 0;
    }
}
