@import 'settings/all-settings';
@import 'tools/all-tools';

img {
	max-width: 100%;
	height: auto;

	&[data-lazy-load] {
		opacity: 0;
		transition: opacity $duration-fast ease-out;

		&[data-zzload-is-loaded="true"] {
			opacity: 1;
		}
	}
}
