@import '../settings/all-settings';
@import '../tools/all-tools';

.page {
    $this: &;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &--gradient {
        background: linear-gradient(180deg, #FFFFFF 0%, #ECECEC 100%);
    }

    .main {
        position: relative;
        flex-grow: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--fixed {
            display: flex;
            flex-direction: column;

            .section {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &--picture {
            height: 100vh;
            background-image: url("/images/ukraine-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
        }
    }

    .first-screen {
        position: relative;
        flex-grow: 1;
        height: auto;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;

        @include microbe-media($breakpoint-df) {
            min-height: 70vh;
        }
    }

    &__marketplace {
        background: url("/images/AID Marketplace backg.webp");
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
}
