.noscript-msg {
	$this: &;

	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-black;
	color: $color-white;
	padding: microbe-rem(10) 0;

	@include microbe-media($screen-vw) {
		padding: vw(10) 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;

		@include microbe-media($breakpoint-sm, max) {
			flex-wrap: wrap;
		}
	}

	&__text {
		font-size: microbe-rem(12);

		@include microbe-media($screen-vw) {
			font-size: vw(14);
		}
	}

	&__button {
		margin: microbe-rem(20) auto 0;

		@include microbe-media($breakpoint-sm) {
			margin: 0 0 0 microbe-rem(20);
		}

		@include microbe-media($screen-vw) {
			margin: 0 0 0 vw(20);
		}
	}
}
