@import '../../../../sass/settings/_all-settings';
@import '../../../../sass/tools/_all-tools';

@import '~mmenu-light/src/mmenu-light';

.mm-spn {
    $this: &;

    &--open {
        li {
            &:not(.menu__borrowed-item) {
                a, span {
                    padding: calc((var(--mm-spn-item-height) - var(--mm-spn-line-height)) / 2) var(--mm-spn-item-indent);
                }

                a {
                    a:not(:last-child) {
                        width: calc(100% - var(--mm-spn-item-height));
                    }
                }
            }

            &.menu__borrowed-item {
                &::before,
                &::after {
                    content: none;
                }

                a {
                    width: auto;

                    &::before,
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }

    &.mm-spn--light {
        background-color: $color-white;
        color: $color-text-light;
    }

    &.mm-spn--navbar {
        cursor: initial;
        -webkit-tap-highlight-color: initial;

        &:not(.mm-spn--main) {
            ul {
                top: calc(#{microbe-rem(68)} + var(--mm-spn-item-height) + 1px);

                @include microbe-media($breakpoint-sm) {
                    top: calc(#{microbe-rem(88)} + var(--mm-spn-item-height) + 1px);
                }
            }
        }

        &::before {
            top: calc(#{microbe-rem(68)} + var(--mm-spn-item-height) / 2);

            @include microbe-media($breakpoint-sm) {
                top: calc(#{microbe-rem(88)} + var(--mm-spn-item-height) / 2);
            }
        }

        &::after {
            top: calc(#{microbe-rem(68)});

            @include microbe-media($breakpoint-sm) {
                top: calc(#{microbe-rem(88)});
            }
        }

        &.mm-spn--main {
            &::after {
                display: none;
            }
        }

        ul {
            top: calc(#{microbe-rem(68)});

            @include microbe-media($breakpoint-sm) {
                top: calc(#{microbe-rem(88)});
            }
        }
    }

    a, span {
        padding: 0;
        display: flex;
        align-items: center;
    }

    li {
        a, span {
            padding: 0;
        }
    }

    [hidden] {
        display: none !important;
    }
}
