// -----------------------------------------------------------------------------
// Имена SCSS переменных color
// -----------------------------------------------------------------------------
$color-black: #000;
$color-white: #fff;
$color-main: #A31818;
$color-main-active: rgba(#D2232A, 0.8);
$color-accent: #353535;
$color-accent-half: rgba(#101E28, 0.6);
$color-dark: #4070B5;
$color-grey: #F1F0F3;
$color-grey-2: #DADADA;
$color-grey-3: #D8D8D8;
$color-grey-4: #FBFBFC;
$color-dark-purple: rgba(#1C1B28, 0.8);
$color-border: #E8E8E8;
$color-text-light: #55585D;
$color-label: #FF3333;
$color-label-secondary: #A60006;
$color-status-new: #67CBAD;
