// -----------------------------------------------------------------------------
// Имена SCSS переменных font
// -----------------------------------------------------------------------------

$font-family-default: 'Lato', sans-serif;
$font-family-secondary: 'Mukta', sans-serif;

$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: normal;
$font-weight-thin: 300;
