@import '~microbe-ui/src/core/functions/rem';

$module-xxs: microbe-rem(2);
$module-xs: microbe-rem(10);
$module-sm: microbe-rem(15);
$module-md: microbe-rem(20);
$module-df: microbe-rem(25);
$module-lg: microbe-rem(35);
$module-xl: microbe-rem(40);
$module-xxl: microbe-rem(50);
$module-hg: microbe-rem(70);

//fa-2xs	0.625em	10px;
//fa-xs	    0.75em	12px;
//fa-sm	    0.875em	14px;
//fa-lg	    1.25em	20px;
//fa-xl	    1.5em	24px;
//fa-2xl	2em	32px;
