// -----------------------------------------------------------------------------
// Остальные переменные
// -----------------------------------------------------------------------------

// переменные border-radius в px
$br-sm: 3px;
$br-def: 5px;

//header отступ
$header-mobile-indent-vertical: 10px;
$header-mobile-indent-horizontal: 20px;
