.compare-card {
    $this: &;

    background-color: $color-white;
    padding: microbe-rem(20) microbe-rem(25);

    &:nth-child(even) {
        background-color: #F8F9F8;
    }

    &:not(:last-child):not(:only-child) {
        border-bottom: 1px solid $color-border;
    }

    @include microbe-media($breakpoint-md) {
    }

    @include microbe-media($screen-vw) {
        padding: vw(20) vw(25) vw(31) vw(25);
    }

    @media (hover: hover) {
        &:hover {
            #{$this}__hidden-content {
                height: auto;
                opacity: 1;
                visibility: visible;
                margin-top: vw(10);
            }
        }
    }

    &__body {
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: microbe-rem(20) microbe-rem(12);

        @include microbe-media($breakpoint-sm) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include microbe-media($breakpoint-md) {
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include microbe-media($screen-vw) {
            grid-template-rows: 1fr;
            grid-template-columns: minmax(#{vw(180)}, #{vw(180)}) minmax(#{vw(310)}, #{vw(355)}) minmax(#{vw(150)}, #{vw(180)}) minmax(#{vw(135)}, #{vw(180)}) minmax(#{vw(160)}, #{vw(180)}) minmax(#{vw(150)}, #{vw(175)}) auto;
            gap: vw(20);
        }
    }

    &__col {
        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / -1;

            @include microbe-media($breakpoint-xs) {
                grid-area: auto;
            }

            @include microbe-media($breakpoint-md) {
                grid-area: 1 / 1 / 2 / 3;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(2) {
            grid-area: 2 / 1 / 3 / -1;

            @include microbe-media($breakpoint-xs) {
                grid-area: auto;
            }

            @include microbe-media($breakpoint-md) {
                grid-area: 1 / 5 / 2 / 7;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(3) {
            @include microbe-media($breakpoint-sm) {

            }

            @include microbe-media($breakpoint-md) {
                grid-area: 1 / 7 / 2 / -1;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(4) {
            @include microbe-media($breakpoint-sm) {

            }

            @include microbe-media($breakpoint-md) {
                grid-area: 2 / 1 / -1 / 3;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(5) {
            @include microbe-media($breakpoint-sm) {

            }

            @include microbe-media($breakpoint-md) {
                grid-area: 2 / 3 / -1 / 5;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(6) {
            @include microbe-media($breakpoint-sm) {

            }

            @include microbe-media($breakpoint-md) {
                grid-area: 2 / 5 / -1 / 7;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }

        &:nth-child(7) {
            grid-area: 4 / 1 / 5 / -1;

            @include microbe-media($breakpoint-sm) {
                grid-area: 3 / 1 / 4 / -1;
            }

            @include microbe-media($breakpoint-md) {
                grid-area: 2 / 7 / -1 / -1;
            }

            @include microbe-media($screen-vw) {
                grid-area: auto;
            }
        }
    }

    &__hidden-content {
        //display: grid;
        //grid-template-columns: repeat(2, 1fr);
        //grid-template-rows: auto;
        //gap: microbe-rem(20);
        //align-items: center;
        transition: opacity $duration-fast ease, visibility $duration-fast ease, height $duration-normal ease $duration-normal;
        margin: microbe-rem(20) auto 0 auto;

        //@include microbe-media($breakpoint-xs) {
        //    max-width: 60%;
        //}
        //
        //> div {
        //    &:nth-child(1) {
        //        @include microbe-media($breakpoint-sm, max) {
        //            grid-area: 1 / 1 / 2 / -1;
        //        }
        //    }
        //
        //    &:nth-child(2) {
        //        @include microbe-media($breakpoint-sm, max) {
        //            grid-area: 2 / 1 / -1 / -1;
        //        }
        //    }
        //}

        @include microbe-media($breakpoint-sm) {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
        }

        @include microbe-media($screen-vw) {
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
            margin-top: 0;
        }
    }

    &__img {
        padding-right: microbe-rem(20);

        @include microbe-media($breakpoint-md) {
            height: microbe-rem(60);
        }

        @include microbe-media($screen-vw) {
            height: vw(80);
            padding-right: vw(10);
        }

        img {
            width: fit-content;
            height: 100%;
            object-fit: contain;
            margin: auto;
        }
    }

    &__bonus-icon {
        width: microbe-em(19, 15);
        height: microbe-em(19, 15);
        background: $color-grey-2;
        border-radius: 50%;
        flex-shrink: 0;
    }
}
