.simple-card {
    $this: &;

    height: 100%;
    display: flex;
    flex-direction: column;
    padding: microbe-rem(20);
    background-color: $color-white;
    border-radius: microbe-rem($br-def);
    border: 1px solid $color-border;
    transition: box-shadow $duration-fast ease;

    @include microbe-media($screen-vw) {
        padding: vw(58) vw(45) vw(28) vw(45);
        border-radius: vw($br-def);
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 vw(16) vw(16) rgba(50, 50, 71, 0.08), 0 vw(24) vw(32) rgba(50, 50, 71, 0.08);
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include microbe-media($screen-vw) {
            padding: 0 0 0 vw(15);
        }
    }

    &__nav {
        display: flex;
    }

    &__body {
        padding: microbe-rem(20) 0 microbe-rem(32) 0;

        @include microbe-media($screen-vw) {
            padding: vw(50) 0 vw(72) vw(15);
        }
    }

    &__footer {
        margin-top: auto;
        border-top: 1px solid rgba($color-black, 0.1);
        padding: microbe-rem(20) 0 0 0;

        @include microbe-media($screen-vw) {
            padding: vw(36) 0 0 0;
        }
    }

    &--small {
        @include microbe-media($screen-vw) {
            padding: vw(58) vw(34) vw(28);
        }
    }
}
