.supplier-card {
    $this: &;

    display: block;
    position: relative;
    text-align: center;

    @include microbe-media($screen-vw) {
        height: vw(250);
        border-radius: vw($br-def);
    }

    @media (hover: hover) {
        &:hover {
            z-index: 2;

            #{$this}__background {
                box-shadow: 0 vw(16) vw(16) rgba(50, 50, 71, 0.08), 0 vw(24) vw(32) rgba(50, 50, 71, 0.08);
                transform: scale(1.03);
            }

            #{$this}__inner {

                @include microbe-media($screen-vw) {
                    padding: vw(33) vw(20) vw(27);
                }
            }

            #{$this}__img {
                @include microbe-media($screen-vw) {
                    height: vw(50);
                    margin-bottom: vw(15);
                }

                img {
                    height: 100%;
                }
            }

            #{$this}__hidden-content {
                @include microbe-media($screen-vw) {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                    transition: opacity $duration-flash ease-in $duration-light, visibility $duration-fast ease $duration-light;
                }
            }

            #{$this}__name {
                @include microbe-media($screen-vw) {
                    font-weight: $font-weight-semibold;
                    font-size: vw(28);
                }
            }
        }
    }

    &__inner {
        display: block;
        padding: microbe-rem(20);
        position: relative;

        @include microbe-media($screen-vw) {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            padding: vw(64) vw(20) vw(37);
            border-radius: vw($br-def);
            transition: padding $duration-fast ease, box-shadow $duration-fast ease;
        }
    }

    &__background {
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: microbe-rem($br-def);
        will-change: transform;
        transition: padding $duration-fast ease, box-shadow $duration-fast ease, transform $duration-fast ease;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;

        @include microbe-media($screen-vw) {
            border-radius: vw($br-def);
        }
    }

    &__img {
        display: flex;
        align-items: center;
        height: microbe-rem(80);
        margin-bottom: microbe-rem(20);

        @include microbe-media($screen-vw) {
            height: vw(80);
            margin-bottom: vw(40);
            transition: height $duration-fast ease, margin $duration-fast ease;
        }

        img, svg {
            width: fit-content;
            object-fit: contain;
            margin: auto;
        }
    }

    &__name {
        display: block;
        font-size: microbe-rem(16);
        font-weight: $font-weight-medium;
        line-height: microbe-em(24, 20);
        color: $color-accent;
        transition: font-size $duration-fast ease, font-weight $duration-fast ease;

        @include microbe-media($screen-vw) {
            font-size: vw(20);
        }
    }

    &__hidden-content {
        display: block;
        margin-top: microbe-rem(10);

        @include microbe-media($screen-vw) {
            margin-top: vw(20);
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity $duration-light ease, visibility $duration-light ease;
        }
    }

    &__rating {
        display: flex;
        justify-content: center;
        margin-bottom: microbe-rem(12);

        @include microbe-media($screen-vw) {
            margin-bottom: vw(32);
        }
    }

    &__text {
        display: block;
        font-size: microbe-rem(16);
        line-height: microbe-em(32, 22);
        color: rgba(#1C1B28, 0.6);

        @include microbe-media($screen-vw) {
            font-size: vw(22);
        }
    }
}
