.checkbox {
    $this: &;

    user-select: none;

    &__label {
        position: relative;
        display: flex;
        align-items: center;
        font-size: microbe-rem(16);
        line-height: microbe-em(20, 16);
        cursor: pointer;
        transition: box-shadow $duration-fast ease, border-color $duration-fast ease;

        @include microbe-media($screen-vw) {
            font-size: vw(16);
        }

        &:active {
            #{$this}__checkmark {
                background-color: $color-main-active;
            }
        }
    }

    &__checkmark {
        cursor: pointer;
        background-color: rgba($color-grey, 0.3);
        border: 1px solid $color-border;
        width: microbe-rem(24);
        height: microbe-rem(24);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: microbe-rem($br-def);
        flex-shrink: 0;
        transition: $duration-flash;

        @include microbe-media($screen-vw) {
            width: vw(24);
            height: vw(24);
            border-radius: vw($br-def);
        }

        svg {
            transform: scale(0);
            fill: $color-white;
            opacity: 0;
            visibility: hidden;
            transition: $duration-flash;
        }
    }

    &__control {
        display: none;

        &:checked {
            + #{$this}__label {
                #{$this}__checkmark {
                    background-color: $color-main;
                    border-color: $color-main;
                    box-shadow: 0 microbe-rem(2) microbe-rem(10) microbe-rem(-4) rgba(34, 34, 34, 0.55);

                    @include microbe-media($screen-vw) {
                        box-shadow: 0 vw(2) vw(10) vw(-4) rgba(34, 34, 34, 0.55);
                    }

                    svg {
                        transform: scale(1);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    &__text {
        margin-left: microbe-rem(11);

        @include microbe-media($screen-vw) {
            margin-left: vw(11);
        }
    }

    &--theme-card {
        #{$this}__label {
            height: 100%;
            flex-direction: column;
            align-items: center;
            padding: microbe-rem(10) microbe-rem(10) microbe-rem(20);
            border: microbe-rem(2) solid $color-border;
            border-radius: microbe-rem($br-def);

            @include microbe-media($screen-vw) {
                padding: vw(13) vw(20) vw(21);
                border: vw(2) solid $color-border;
                border-radius: vw($br-def);
            }

            @media (hover: hover) {
                &:hover {
                    box-shadow: 0 microbe-rem(16) microbe-rem(16) rgba(50, 50, 71, 0.08), 0 microbe-rem(24) microbe-rem(32) rgba(50, 50, 71, 0.08);

                    @include microbe-media($screen-vw) {
                        box-shadow: 0 vw(16) vw(16) rgba(50, 50, 71, 0.08), 0 vw(24) vw(32) rgba(50, 50, 71, 0.08);
                    }
                }
            }
        }

        #{$this}__header {
            align-self: flex-end;
        }

        #{$this}__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        #{$this}__icon {
            margin: 0 0 microbe-rem(10) 0;

            @include microbe-media($screen-vw) {
                margin: 0 0 vw(20) 0;
            }

            svg {
                fill: rgba($color-grey, 0.3);
            }
        }

        #{$this}__image {
            margin: 0 0 microbe-rem(10) 0;
            display: flex;
            align-items: center;
            height: microbe-rem(80);
            padding: 0 microbe-rem(10);

            @include microbe-media($screen-vw) {
                height: vw(80);
                padding: 0 vw(10);
                margin: 0 0 vw(20) 0;
            }

            img {
                width: fit-content;
                height: 100%;
                object-fit: contain;
                margin: auto;
            }
        }

        #{$this}__text {
            margin: 0;
            font-weight: $font-weight-medium;
            color: $color-accent;
            font-size: microbe-rem(12);
            line-height: microbe-em(29, 18);

            @include microbe-media($breakpoint-xs) {
                font-size: microbe-rem(14);
            }

            @include microbe-media($breakpoint-md) {
                font-size: microbe-rem(18);
            }

            @include microbe-media($screen-vw) {
                font-size: vw(18);
            }
        }

        #{$this}__control {
            &:checked {
                + #{$this}__label {
                    border-color: $color-main;
                    box-shadow: 0 microbe-rem(16) microbe-rem(16) rgba(50, 50, 71, 0.08), 0 microbe-rem(24) microbe-rem(32) rgba(50, 50, 71, 0.08);

                    @include microbe-media($screen-vw) {
                        box-shadow: 0 vw(16) vw(16) rgba(50, 50, 71, 0.08), 0 vw(24) vw(32) rgba(50, 50, 71, 0.08);
                    }

                    #{$this}__icon {
                        svg {
                            fill: #ffe2d9;
                        }
                    }
                }
            }
        }
    }
}
