.checkbox-select {
    $this: &;

    user-select: none;

    @include microbe-media($screen-vw) {
        cursor: pointer;
    }

    &.is-active {
        #{$this}__item {
            --field-bg-color: #{$color-white};

            &--label {
                color: $color-main;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        #{$this}__content {
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
        }

        #{$this}__arrow {
            transform: rotate(180deg);
        }
    }

    &__item {
        background-color: var(--field-bg-color);
        padding: 0 var(--control-padding);
        height: var(--control-height);
        display: flex;
        align-items: center;

        &--label {
            justify-content: space-between;
            border: 1px solid $color-border;
            border-radius: microbe-rem($br-sm);

            @include microbe-media($screen-vw) {
                border-radius: vw($br-sm);
            }

            #{$this}__item-text {
                padding-right: microbe-rem(40);

                @include microbe-media($screen-vw) {
                    padding-right: vw(55);
                }
            }
        }

        &--content {
            @media (hover: hover) {
                &:hover {
                    background-color: $color-grey-4;
                    font-weight: $font-weight-medium;
                }
            }

            .checkbox {
                height: 100%;
                display: flex;
            }
        }
    }

    &__content {
        position: absolute;
        z-index: $zi-select-dropdown-active;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        border: 1px solid $color-border;
        border-top: 0;
        border-bottom-left-radius: microbe-rem($br-sm);
        border-bottom-right-radius: microbe-rem($br-sm);
        box-shadow: 0 microbe-rem(20) microbe-rem(40) 0 rgba(34, 34, 34, 0.05);
        max-height: calc(var(--control-height) * 4);
        overflow: auto;

        @include microbe-media($screen-vw) {
            border-bottom-left-radius: vw($br-sm);
            border-bottom-right-radius: vw($br-sm);
            box-shadow: 0 vw(20) vw(40) 0 rgba(34, 34, 34, 0.05);
        }
    }

    &__arrow {
        width: microbe-rem(12);
        height: microbe-rem(9);
        border-style: solid;
        border-width: microbe-rem(8) microbe-rem(6) 0;
        border-color: #343A40 transparent transparent transparent;

        @include microbe-media($screen-vw) {
            width: vw(12);
            height: vw(9);
            border-width: vw(8) vw(6) 0;
        }
    }

    &--size-lg {
        min-width: microbe-rem(250);

        @include microbe-media($screen-vw) {
            min-width: vw(250);
        }
    }
}
