.form {
	$this: &;

	position: relative;
	align-items: safe center;
	width: 100%;

	&__body {
		width: 100%;
	}

    &__show-more-btn {
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: microbe-rem(57);
        height: microbe-rem(57);
        border-radius: 50%;
        background-color: #F8F8F9;
        border: 1px solid $color-border;
        transition: background-color $duration-fast ease;

        @include microbe-media($screen-vw) {
            width: vw(57);
            height: vw(57);
        }

        @media (hover: hover) {
            &:hover {
                background-color: $color-border;
            }
        }

        &.is-active {
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    &__show-more-text {
        &::after {
            content: attr(data-show-more-inactive)
        }

        &.is-active {
            &::after {
                content: attr(data-show-more-active)
            }
        }
    }

    &--compare-offers-vertical {

        #{$this}__control {
            &--radio {
                margin-bottom: microbe-rem(10);

                @include microbe-media($screen-vw) {
                    margin-bottom: vw(15);
                }
            }

            &--select {
                margin-bottom: microbe-rem(20);

                @include microbe-media($screen-vw) {
                    margin-bottom: vw(34);
                }
            }

            &--select,
            &--submit {
                width: 100%;

                @include microbe-media($breakpoint-df) {
                    width: auto;
                }
            }
        }
    }

    &--compare-offers-horizontal {
        display: flex;
        align-items: center;


        @include microbe-media($breakpoint-df, max) {
            flex-wrap: wrap;
        }

        #{$this}__control {
            @include microbe-media($breakpoint-df, max) {
                width: 100%;
                margin-bottom: microbe-rem(10);
            }

            &--radio {
                &:not(:last-child):not(:only-child) {
                    @include microbe-media($breakpoint-df) {
                        margin-right: vw(25);
                    }

                    @include microbe-media($screen-vw) {
                        margin-right: vw(55);
                    }
                }
            }

            &--select {
                flex-grow: 1;

                @include microbe-media($screen-vw) {
                    margin-left: auto;
                }
            }

            &--submit {
                @include microbe-media($breakpoint-df) {
                    margin-left: microbe-rem(20);
                }

                @include microbe-media($screen-vw) {
                    margin-left: vw(20);
                }
            }
        }
    }

    &--register-vertical {
        display: flex;

        #{$this}__control {
            &--input {
                margin-bottom: microbe-rem(20);

                @include microbe-media($screen-vw) {
                    margin-bottom: vw(27);
                }
            }
        }
    }

    &--register-horizontal {
        display: flex;

        #{$this}__body {
            display: flex;
            flex-direction: column;

            @include microbe-media($breakpoint-df) {
                display: grid;
                align-items: flex-end;
                grid-template-columns: 38.7% 36.1% 1fr;
                gap: microbe-rem(20);
            }

            @include microbe-media($screen-vw) {
                gap: vw(20);
            }
        }

        #{$this}__control {
            &:not(:last-child):not(:only-child) {
                margin-bottom: microbe-rem(20);

                @include microbe-media($breakpoint-df) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--steps {
        #{$this}__body {
            position: relative;
            background-color: rgba($color-grey, 0.3);
            border: 1px solid $color-border;
            border-radius: microbe-rem($br-def);
            padding: microbe-rem(30) microbe-rem(20) microbe-rem(40);
            margin-bottom: microbe-rem(40);

            @include microbe-media($screen-vw) {
                border-radius: vw($br-def);
                padding: vw(60) vw(40) vw(96);
                margin-bottom: vw(40);
            }
        }
    }

    &--application {
        position: relative;
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: microbe-rem($br-def);
        padding: microbe-rem(30) microbe-rem(20) microbe-rem(40);

        @include microbe-media($screen-vw) {
            border-radius: vw($br-def);
            padding: vw(80) vw(64);
        }
    }

    &--short-info {
        position: relative;
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: microbe-rem($br-def);
        padding: microbe-rem(30) microbe-rem(20);

        @include microbe-media($screen-vw) {
            border-radius: vw($br-def);
            padding: vw(51) vw(36) vw(39);
        }
    }

    &--auth {
        position: relative;
        background-color: $color-white;
        border: 1px solid $color-border;
        border-radius: microbe-rem($br-def);
        padding: microbe-rem(30) microbe-rem(20);

        @include microbe-media($screen-vw) {
            border-radius: vw($br-def);
            padding: vw(45) vw(105) vw(56);
        }
    }

    &--add-product {
        #{$this}__body {
            position: relative;
            background-color: rgba(241, 240, 243, 0.1);
            border: 1px solid $color-border;
            border-radius: microbe-rem($br-def);
            padding: microbe-rem(20) microbe-rem(20) microbe-rem(40) microbe-rem(20);

            @include microbe-media($screen-vw) {
                border-radius: vw($br-def);
                padding: vw(55) vw(76) vw(51);
            }
        }
    }
}
