.form-item {
	$this: &;

	position: relative;
	width: 100%;

	input,
	textarea {
		appearance: none;
	}

	&__label {
		display: flex;
        align-items: center;
		font-size: microbe-rem(16);
        font-weight: $font-weight-regular;
		line-height: microbe-em(26, 18);
		margin-bottom: microbe-rem(7);
        color: $color-text-light;

		@include microbe-media($screen-vw) {
			font-size: vw(18);
			margin-bottom: vw(7);
		}

        &--bold {
            font-weight: $font-weight-bold;
        }
	}

    &__tooltip {
        line-height: 0;
        margin-left: microbe-rem(6);

        @include microbe-media($screen-vw) {
            margin-left: vw(6);
        }
    }

	&__content {
		position: relative;
	}

	&__body {
		position: relative;
        height: var(--control-height);
    }

    &__icon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $color-main;

        svg {
            fill: currentColor;
        }

        &--right {
            right: microbe-rem(20);

            @include microbe-media($screen-vw) {
                right: vw(20);
            }
        }
    }

	&__control {
		&[type='number']::-webkit-outer-spin-button,
		&[type='number']::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type='search'] {
			-webkit-appearance: none;
		}

		&[type='number'] {
			-moz-appearance: textfield;
		}

		&::-ms-clear {
			display: none;
		}

		&:disabled ~ #{$this}__label,
		&:disabled ~ #{$this}__text {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&__error {
        display: block;
		z-index: 3;
		width: 100%;
		background-color: $color-main;
		color: $color-white;
		padding: microbe-rem(3) microbe-rem(10);
		border-radius: microbe-rem($br-def);
		font-size: microbe-rem(13);
		font-weight: $font-weight-thin;
        margin-top: microbe-rem(5);

		@include microbe-media($screen-vw) {
			padding: vw(3) vw(10);
			border-radius: vw($br-def);
			font-size: vw(13);
            margin-top: vw(5);
        }
	}

    &__button {
        transition: color $duration-normal ease;

        svg {
            fill: currentColor;
        }

        @media (hover: hover) {
            &:hover {
                color: $color-main;
            }
        }

        &--toggle-password {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: microbe-rem($br-sm);
            position: absolute;
            width: var(--control-height);
            height: var(--control-height);
            top: 0;
            bottom: 0;
            right: 0;
            color: $color-accent;
            cursor: pointer;

            @include microbe-media($screen-vw) {
                border-radius: microbe-rem($br-sm);
            }

            @media (hover: hover) {
                &:hover {
                    color: $color-black;
                }
            }

            &.is-active {
                background-color: $color-accent;
                color: $color-white;

                @media (hover: hover) {
                    &:hover {
                        color: $color-white;
                    }
                }
            }

            svg {
                fill: currentColor;
            }
        }
    }

    &--theme-default {
        --field-bg-color: #{rgba($color-grey, 0.3)};
        --field-bg-active-color: #{$color-white};

        font-family: $font-family-default;
        font-size: microbe-rem(16);
        font-weight: $font-weight-medium;
        line-height: microbe-em(18, 26);

        @include microbe-media($screen-vw) {
            font-size: vw(18);
            border-radius: vw($br-def);
        }
    }

    &--theme-switch-vertical {
        #{$this}__label {
            margin-bottom: microbe-rem(12);

            @include microbe-media($screen-vw) {
                margin-bottom: vw(12);
            }
        }
    }

    &--theme-switch-horizontal {
        #{$this}__label {
            @include microbe-media($breakpoint-sm) {
                margin-bottom: 0 !important;
            }
        }
    }

    &--theme-light {
        --field-bg-color: #{$color-grey};
    }

    &--theme-white {
        --field-bg-color: #{$color-white};
    }

    &--theme-horizontal {
        display: flex;
        flex-direction: column;

        @include microbe-media($screen-vw) {
            align-items: center;
            flex-direction: row;
        }

        #{$this}__label {
            color: $color-accent;
            margin-bottom: 0;
            margin-right: microbe-rem(20);

            @include microbe-media($screen-vw) {
                margin-right: vw(20);
                margin-bottom: 0;
            }
        }
    }

    &--theme-date {
        #{$this}__control {
            padding: 0 microbe-rem(50) 0 var(--control-padding);

            @include microbe-media($screen-vw) {
                padding: 0 vw(50) 0 var(--control-padding);
            }
        }
    }

    &--size-xs {
        #{$this}__body {
            @include microbe-media($breakpoint-xs) {
                width: 100%;
                max-width: microbe-rem(210);
            }

            @include microbe-media($screen-vw) {
                max-width: vw(210);
            }
        }
    }

    &--size-sm {
        #{$this}__body {
            @include microbe-media($breakpoint-xs) {
                width: 100%;
                min-width: microbe-rem(210);
                max-width: microbe-rem(282);
            }

            @include microbe-media($screen-vw) {
                min-width: vw(210);
                max-width: vw(248);
            }
        }
    }

    &--size-md {
        #{$this}__body {
            @include microbe-media($breakpoint-xs) {
                width: 100%;
                min-width: microbe-rem(250);
                max-width: microbe-rem(282);
            }

            @include microbe-media($screen-vw) {
                min-width: vw(250);
                max-width: vw(282);
            }
        }
    }

	&--input,
	&--textarea,
	&--select2 {
		#{$this}__control {
			display: block;
			width: 100%;
			height: 100%;
			border: 1px solid $color-border;
			border-radius: microbe-rem($br-def);
			color: currentColor;
			font-family: $font-family-default;
			font-size: microbe-rem(16);
            font-weight: $font-weight-medium;
			line-height: microbe-em(18, 26);
			outline: none;
			transition: border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
			will-change: border-color, box-shadow;
            background-color: var(--field-bg-color);
            padding: 0 var(--control-padding);

			&::placeholder {
				color: currentColor;
				transition: color 0.3s ease;
				will-change: color;
			}

			&:focus {
                border-color: $color-accent;
                background-color: var(--field-bg-active-color);

                &::placeholder {
					color: transparent;
				}
			}

			@include microbe-media($screen-vw) {
                font-size: vw(18);
				border-radius: vw($br-def);
			}
		}
	}

    &--select2-white {
        .select2 {
            &-selection {
                border: 1px solid transparent !important;
            }
        }
    }

    &--double-input {
        #{$this}__body {
            display: flex;
            background-color: var(--field-bg-color);
            border: 1px solid $color-border;
            border-radius: microbe-rem($br-def);
            height: auto;

            @include microbe-media($breakpoint-xs, max) {
                flex-wrap: wrap;
            }

            @include microbe-media($screen-vw) {
                border-radius: vw($br-def);
            }
        }

        #{$this}__control {
            border: 0;
            background-color: transparent;
        }

        #{$this}__control-wrapper {
            height: var(--control-height);
            flex: 1 1 100%;
            position: relative;

            @include microbe-media($breakpoint-xs, max) {
                flex-wrap: wrap;
            }

            @include microbe-media($breakpoint-xs) {
                flex: 1 1 0;
            }

            &:not(:last-child):not(:only-child) {
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    background-color: $color-border;

                    @include microbe-media($breakpoint-xs, max) {
                        width: 100%;
                        height: 1px;
                    }

                    @include microbe-media($breakpoint-xs) {
                        width: 1px;
                        height: 48%;
                    }
                }
            }
        }
    }

    &--textarea {
        #{$this}__body {
            display: flex;
            min-height: var(--control-height);
            height: auto;
        }

        #{$this}__control {
            min-width: 100%;
            resize: vertical;
            min-height: microbe-rem(117);
            height: auto;
            max-height: 30vh;
            padding-top: var(--control-padding, #{microbe-rem(20)});
            line-height: 1.3;

            @include microbe-media($screen-vw) {
                min-height: vw(117);
                padding-top: var(--control-padding, #{vw(20)});
            }
        }
    }

    &--textarea-big {
        #{$this}__control {
            @include microbe-media($screen-vw) {
                min-height: vw(183);
            }
        }
    }

    &--w-auto {
        width: auto;
    }

    &--zi-upper {
        z-index: $zi-select-dropdown-active;
    }
}
