.radio-button {
    $this: &;

    user-select: none;

    &__label {
        position: relative;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:active {
            #{$this}__checkmark {
                border-color: $color-main-active;
                background-color: $color-main-active;
            }
        }
    }

    &__checkmark {
        cursor: pointer;
        position: relative;
        display: block;
        background-color: $color-white;
        border: 1px solid $color-border;
        width: microbe-rem(24);
        height: microbe-rem(24);
        border-radius: 50%;
        transition: $duration-flash;
        flex-shrink: 0;

        @include microbe-media($screen-vw) {
            width: vw(24);
            height: vw(24);
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            content: '';
            display: block;
            width: microbe-rem(8);
            height: microbe-rem(8);
            border-radius: 50%;
            transition: $duration-flash;

            @include microbe-media($screen-vw) {
                width: vw(8);
                height: vw(8);
            }
        }
    }

    &__control {
        display: none;

        &:checked {
            + #{$this}__label {
                #{$this}__checkmark {
                    background-color: $color-main;
                    border-color: $color-main;

                    &::before {
                        background-color: $color-white;
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
    }

    &__text {
        font-weight: $font-weight-medium;
        font-size: microbe-rem(16);
        line-height: microbe-em(28, 20);
        color: $color-accent;
        margin-left: microbe-rem(10);

        @include microbe-media($screen-vw) {
            font-size: vw(20);
            margin-left: vw(15);
        }
    }

    &--theme-chart {
        #{$this}__control {
            &:checked {
                + #{$this}__label {
                    background-color: $color-white;
                    box-shadow: 0 microbe-rem(5) microbe-rem(20) rgba(16, 30, 40, 0.1);
                    color: $color-main;
                    padding: 0 var(--control-padding);

                    @include microbe-media($screen-vw) {
                        box-shadow: 0 vw(5) vw(20) rgba(16, 30, 40, 0.1);
                    }
                }
            }
        }

        #{$this}__label {
            --font-size: #{microbe-rem(16)};

            border-radius: microbe-rem(25);
            color: $color-black;
            padding: 0 microbe-rem(10);

            @include microbe-media($screen-vw) {
                --font-size: #{vw(18)};

                padding: 0 vw(10);
                border-radius: vw(25);
            }
        }
    }
}
