.slider-form {
    $this: &;

    background-color: $color-white;
    box-shadow: 0 microbe-rem(20) microbe-rem(100) rgba(34, 34, 34, 0.15);
    border-radius: microbe-rem($br-sm);
    padding: microbe-rem(40) microbe-rem(30) microbe-rem(40) microbe-rem(30);
    position: relative;

    @include microbe-media($breakpoint-sm) {
        padding: microbe-rem(40) microbe-rem(102) microbe-rem(40) microbe-rem(30);
    }

    @include microbe-media($breakpoint-df) {
        width: auto;
    }

    @include microbe-media($screen-vw) {
        box-shadow: 0 vw(20) vw(100) rgba(34, 34, 34, 0.15);
        border-radius: vw($br-sm);
        padding: vw(65) vw(102) vw(69) vw(60);
    }

    &__decor {
        display: none;

        @include microbe-media($breakpoint-sm) {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: microbe-rem(20);
            bottom: 0;
            width: microbe-rem(70);
            top: microbe-rem(-26);
            background-color: rgba($color-main, 0.05);
            padding: microbe-rem(138) 0;
        }

        @include microbe-media($screen-vw) {
            top: vw(-26);
            right: vw(20);
            width: vw(70);
            padding: vw(138) 0;
        }
    }

    &__decor-particle {
        color: rgba($color-main, 0.05);

        &--top {
            margin-bottom: microbe-rem(40);

            @include microbe-media($screen-vw) {
                margin-bottom: vw(40);
            }
        }

        svg {
            fill: currentColor;
        }
    }

    &__title {
        margin-bottom: microbe-rem(20);

        @include microbe-media($screen-vw) {
            margin-bottom: vw(30);
        }
    }

    &__title-line {
        color: $color-accent;

        &--first {
            font-weight: $font-weight-extrabold;
            font-size: microbe-rem(24);
            line-height: 1;

            @include microbe-media($breakpoint-sm) {
                font-size: microbe-rem(32);
            }

            @include microbe-media($screen-vw) {
                font-size: vw(38);
            }
        }

        &--second {
            font-weight: $font-weight-medium;
            font-size: microbe-rem(18);
            line-height: microbe-em(38, 30);

            @include microbe-media($breakpoint-sm) {
                font-size: microbe-rem(24);
            }

            @include microbe-media($screen-vw) {
                font-size: vw(30);
            }
        }
    }

    .form {
        max-width: 95%;
    }
}
