.toggle-switch {
    $this: &;

    user-select: none;

    &__label {
        position: relative;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        &:active {
            #{$this}__checkmark {
                background-color: rgba($color-grey, 0.5);

                &::before {
                    width: microbe-rem(30);

                    @include microbe-media($screen-vw) {
                        width: vw(30);
                    }
                }
            }
        }
    }

    &__checkmark {
        cursor: pointer;
        position: relative;
        display: block;
        background-color: rgba($color-grey, 0.3);
        border: 1px solid $color-border;
        padding: microbe-rem(3);
        width: microbe-rem(51);
        height: microbe-rem(28);
        border-radius: microbe-rem(15);
        transition: $duration-flash;

        @include microbe-media($screen-vw) {
            padding: vw(3);
            width: vw(51);
            height: vw(28);
            border-radius: vw(15);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: microbe-rem(3);
            bottom: microbe-rem(3);
            right: microbe-rem(4);
            width: microbe-rem(20);
            border-radius: microbe-rem(10);
            background-color: $color-grey-2;
            transition: $duration-flash;

            @include microbe-media($screen-vw) {
                top: vw(3);
                bottom: vw(3);
                right: vw(4);
                width: vw(20);
                border-radius: vw(10);
            }
        }
    }

    &__control {
        display: none;

        &:checked {
            + #{$this}__label {
                #{$this}__checkmark {
                    &::before {
                        background-color: $color-main;
                        right: calc(100% - #{microbe-rem(4)});
                        transform: translateX(100%);

                        @include microbe-media($screen-vw) {
                            right: calc(100% - #{vw(4)});
                        }
                    }
                }
            }
        }
    }
}
