// buttons, form fields, selects

._control-height-xxs {
    --control-height: #{microbe-rem(30)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(36)};
    }
}

._control-height-xs {
    --control-height: #{microbe-rem(34)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(42)};
    }
}

._control-height-md {
    --control-height: #{microbe-rem(35)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(50)};
    }
}

._control-height-df {
    --control-height: #{microbe-rem(40)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(61)};
    }
}

._control-height-lg {
    --control-height: #{microbe-rem(44)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(64)};
    }
}

._control-height-xl {
    --control-height: #{microbe-rem(48)};

    @include microbe-media($screen-vw) {
        --control-height: #{vw(68)};
    }
}

._control-padding-xs {
    --control-padding: #{microbe-rem(10)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(12)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(14)};
    }
}

._control-padding-sm {
    --control-padding: #{microbe-rem(14)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(16)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(18)};
    }
}

._control-padding-md {
    --control-padding: #{microbe-rem(12)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(20)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(22)};
    }
}

._control-padding-lg {
    --control-padding: #{microbe-rem(14)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(20)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(32)};
    }
}

._control-padding-xl {
    --control-padding: #{microbe-rem(16)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(28)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(40)};
    }
}

._control-padding-xl-2 {
    --control-padding: #{microbe-rem(28)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(32)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(65)};
    }
}

._control-padding-xxl {
    --control-padding: #{microbe-rem(30)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(50)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(87)};
    }
}

._control-padding-hg {
    --control-padding: #{microbe-rem(40)};

    @include microbe-media($breakpoint-xs) {
        --control-padding: #{microbe-rem(70)};
    }

    @include microbe-media($screen-vw) {
        --control-padding: #{vw(105)};
    }
}

._fz-xs {
    --font-size: #{microbe-rem(14)};

    @include microbe-media($screen-vw) {
        --font-size: #{vw(16)};
    }
}

._fz-sm {
    --font-size: #{microbe-rem(16)};

    @include microbe-media($screen-vw) {
        --font-size: #{vw(18)};
    }
}

._fw-semibold {
    font-weight: $font-weight-semibold;
}
